@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700&subset=vietnamese');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
    color: #E57373;
}

body {
  font-family: 'Quicksand', sans-serif;
  color: rgba(0,0,0,0.54);
  overflow: hidden;
}

.page-footer {
  padding-top: 0px;
}
