@media (max-width: 420px) {
  .modal {
    border-radius: 0px !important;
    top: 0% !important;
    height: 100% !important;
    width: 100% !important;
  }
}

@media (min-width: 768px) {
  .modal {
    height: auto !important;
  }
}
