<template name = "login_modal">
  <div id="login_modal" class="modal" style="width: 600px; border-radius: 20px;">
    {{> login_loader}}
    <div class = "modal-content" id="login_content">
      <div class="login_form col l12 m12 s12">
        <!-- Row No.1 - API Signin button -->
        <!--
        <div class = "section">
          <div class="top24px center">
            <a class = "login-facebook" ><img src ="/Signup/Facebook_button.svg"></a>
            <a class = "login-google"><img src ="/Signup/G_button.svg"></a>
          </div>
        </div>
        -->
        <div class = "title_wrapper">
          <h4 class = "center">Log in</h4>
          <button class="modal-close btn-floating transparent z-depth-0 waves-effect waves-red login_cancel_btn" id="cancel_login"><i class="black-text medium material-icons">close</i></button>
        </div>
        <!-- Row No.2 - Email Address -->
        <div class="row">
          <div class="input-field">
          <input id="login_email" name="email" type="email" class="validate">
          <label for="login_email">Email</label>
          </div>
        </div>
        <!-- Row No.3 - Password -->
        <div class="row">
          <div class="input-field">
          <input id="login_password" name="password" type="password" class="validate">
          <label for="login_password">Password</label>
          </div>
          <p><small>Click <a href="" id="forgot_password">here </a> if you forgot your password.</small></p>
        </div>
        <div class="row">
          <div class="right">
            <div class="modal_buttons">
              <button class="waves-effect btn waves-red right login_submit_btn" id="login" type="submit">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<template name = "login_loader">
    <div class="fullscreen shadow_overlay" id="loginLoader" style="display: none">
      <div class="spinner-wrapper center-screen">
          <div class="preloader-wrapper active" style="margin: 22px;">
            <div class="spinner-layer spinner-red-only">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
      </div>
    </div>
</template>
