<template name="sent_verification">
  <div class="row valign-wrapper" style="height:100vh; background-color: #c7c7c7;">
    <div class ="col s12 m12 l6 offset-l3">
      <div class = "center">
        {{#if currentUser}}
          <div style="font-size: 2em; font-weight: bold; margin-bottom: 36px">Account verified. Redirecting you in...</div>
          <div class="center-align timer">{{getCountdown}}</div>
        {{else}}
          <div style="font-size: 2em; font-weight: bold; margin-bottom: 36px">You haven't signed up yet. Redirect you back to our homepage in...</div>
          <div class="center-align timer">{{getCountdown}}</div>
        {{/if}}
      </div>
    </div>
  </div>
</template>

<template name = "homecook_verification">
  <div class = "message_wrapper container valign-wrapper" style="height:100vh;">
    <div class = "row" style="width: 100%;">
      <div class = "verified_message col xl6 l6 m8 s12 offset-xl3 offset-l3 offset-m2">
        <h4 class = "bp-blue-text center-align">
          Your account has been verifed.</h4>
        <h6 class = "center-align">
          Now, let's get your kitchen set up!
        </h6>
        <br>
        <a class="waves-effect waves-light btn" id="create_homecook_profile">create profile</a>
      </div>
    </div>
  </div>
</template>
