<!-- Instruction: Please defined height & width of parent element
to make this work ,also, remember height = width to make perfect circle!!-->

<template name="get_dish_image">
  {{#if image_id}}
    <div class="img_wrapper circle responsive-img" style="background-image:url('{{get_image}}')" id="dish_image" alt="{{dishes_name}}"></div>
  {{else}}
    <div class = "valign-wrapper no_display grey lighten-4">
      <p class = "center-align truncate">no image to display</p>
    </div>
  {{/if}}
</template>
