<template name = "check_kitchen_profile">
  <div id="check_kitchen_modal" class ="modal modal-fixed-footer" style="height: 250px; width: 500px;">
    <div class = "modal-content">
      <p>You haven't created your kitchen profile, so you are unable to create any dishes and menus yet.</p>
      <p>May I take you to create your kitchen profile?</p>
    </div>
    <div class= "modal-footer">
      <a href="./main" class="modal-action modal-close waves-effect waves-light btn-flat">No, thanks</a>
      <a href="./profile" class="modal-action modal-close waves-effect waves-red btn bp-green">Sure</a>
    </div>
  </div>
</template>
