<template name="serving_option">
    <div class="row">
      {{#each serving_option_list}}
        <div class="card z-depth-0" id="checkbox">
            <input type="checkbox" class="serving_option_checkboxes filled-in" id= "{{file_name}}" value = "{{name}}">
            <label for="{{file_name}}">{{name}}<div class="right icon icon_{{file_name}}"></div></label>
        </div>
      {{/each}}
    </div>
    <br>
</template>

<template name="serving_option_display">
    <div class="row">
      {{#each serving_option_list}}
        <div class="card z-depth-0" id="checkbox">
            <input type="checkbox" class="serving_option_checkboxes filled-in" id= "{{this}}" value = "{{this}}">
            <label for="{{this}}">{{this}}<div class="right icon icon_{{this}}"></div></label>
        </div>
      {{/each}}
    </div>
    <br>
</template>
