<template name = "dishes_selection">
  <table class = "bordered" id="menu_dishes_table">
    <thead>
      <tr>
        <th class = "col l2 s2 m2 checkbox_column"></th>
        <th class = "col l3 s2 m2">Dish Name</th>
        <th class = "col l3 s2 m2">Cost</th>
        <th class = "col l2 s2 m2">Selling price</th>
        <th class = "col l2 s2 m2"></th>
      </tr>
    </thead>
    <tbody>
      {{#each user_dishes}}
        <tr>
          <td class ="checkbox_column">
            <input class="dishes_checkbox" type="checkbox" id="c_{{_id}}" value="{{_id}}"/>
            <label for="c_{{_id}}"></label>
          </td>
          <td>{{dish_name}}</td>
          <td>{{dish_cost}}</td>
          <td>{{dish_selling_price}}</td>
          <td><div id="dish_image_list_display">{{> get_dish_image}}</div></td>
          <td>
            <a class = "btn-floating waves-effect waves-red z-depth-0 right transparent" id="edit_dish">
              <i class="material-icons grey-text text-lighten-1">edit</i>
            </a>
            <a class = "btn-floating waves-effect waves-red z-depth-0 right transparent" href="#" id="delete_dish">
              <i class="material-icons grey-text text-lighten-1">delete</i>
            </a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</template>
