<template name='show_room'>
  <div class = "show_room_wrapper">
    <div class="card_container" id="show_room">
      {{> show_room_dish}}
      {{> show_room_menu}}
      {{> show_room_chef}}
    </div>
    <div class = "map_wrapper">
      {{> mapcard}}
    </div>
  </div>
  <div class = "modal large_dish_display" id="large_dish_display">
  </div>
  <div class = "modal display_menu_details" id="menu_card_display">
  </div>
</template>

<template name='show_room_dish'>
  {{#each find_dishes_by}}
    {{> dishes_list}}
  {{/each}}
</template>

<template name='show_room_menu'>
  {{#each find_menu_by}}
    {{> menu_card}}
  {{/each}}
</template>

<template name='show_room_chef'>
  {{#each find_kitchen_by}}
    {{> kitchen_card}}
  {{/each}}
</template>
