<template name='show_room'>
  <div class = "row">
    <div class='col l8 m9 s9'>
      {{> show_room_dish}}
      {{> show_room_menu}}
      {{> show_room_chef}}
    </div>
    <div class ='col l4 m3 s3'>
      {{> mapcard}}
    </div>
  </div>
</template>

<template name='show_room_dish'>

  <div class = "section">
    <h5>Dishes</h5>
    <div class = "row">
      {{#each find_dishes_by}}
        {{> dishes_list}}
      {{/each}}
    </div>
  </div>
</template>

<template name='show_room_menu'>
  <div class = "section">
    <h5>Menu</h5>
    <div class = "menu_card_wrapper">
      {{#each find "Menu"}}
        {{> menu_card}}
      {{/each}}
    </div>

  </div>
</template>

<template name='show_room_chef'>
  <div class = "section">
    <h5>Chef</h5>
      {{#each find "Kitchen_details"}}
        {{> kitchen_card}}
      {{/each}}
    </div>
</template>
