/* CSS declarations go here */

.circle_base {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    /** border: 0.5px solid grey; **/
    margin-left: auto;
    margin-right: auto;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index:1;
}

.circle_base img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

.icon_img_upload {
    display: block;
    height: 250px;
    width: 250px;

}

.img_preloader {
    margin:36.5%;
}

.icon {
    height: 24px;
    width: 24px;
    display: inline-block;
    float: right;
}

#profit {
  padding-bottom: 18fpx;
}

.icon_Delivery {
    background: url("/Delivery.svg");
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 60px;
}

.icon_Dine-in {
    background: url("/Dine-in.svg");
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 60px;
}

.icon_Pick-up {
    background: url("/Pick-up.svg");
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 60px;
}


.icon_milk {
    background: url("allergies_icons/dairy.svg");
    margin-left: 80px;

}

.icon_tree_nuts {
    background: url("allergies_icons/tree_nuts.svg");
    margin-left: 42px;
}

.icon_fish {
    background: url("allergies_icons/fish.svg");
    margin-left: 75px;
}

.icon_egg {
    background: url("allergies_icons/egg.svg");
    margin-left: 83px;
}

.icon_wheat {
    background: url("allergies_icons/wheat.svg");
    margin-left: 62px;
}

.icon_shellfish {
    background: url("allergies_icons/shellfish.svg");
    margin-left: 45px;
}

.icon_peanuts {
    background: url("allergies_icons/peanuts.svg");
    margin-left: 57px;
}

.icon_soy {
    background: url("allergies_icons/soy.svg");
    margin-left: 79px;
}

.food_tags_list {
    margin-bottom: 20px;
}


/*#dish_descriptions {
    width: 800px;
    padding: 80px;
}*/
