<template name = "create_dishes_form">

    <div class = "create_dishes_form_container container">
        <form class="dish_descriptions" id="dish_descriptions">
          <br>
          <br>
            {{> uploadForm }}
          <br>
          <br>
          <div class="row">
            <div class = "col l3 m12 s12 valign">
              <h6>Dish descriptions</h6>
            </div>
            <div class = "input-field col l9 m12 s12">
                <input placeholder="Type your dish name" name="dish_name" id="dish_name" type="text" value = "{{dish_name}}">
            </div>
          </div>
          <div class ="row">
            <div class = "col l3 m12 s12"></div>
            <div class = "input-field col l9 m12 s12">
                <input placeholder="Type something about your dish - description" name="dish_description" id="dish_description" type="text" value="{{dish_description}}">
            </div>
          </div>
          <div class="row">
            <div class = "col l3 m12 s12">
              <h6>Serving Options</h6>
            </div>
            <div class="col l9 m12 s12">
              {{> serving_option_display}}
            </div>
          </div>
          <div class="row">
            <div class = "col l3 m12 s12">
              <h6>Cooking Time <small>(mins)</small></h6>
            </div>
            <div class="input-field col l9 m12 s12">
              <i class="material-icons prefix">av_timer</i>
              <input id="cooking_time" name="cooking_time" type="number" min="0" value="{{cooking_time}}">
            </div>
          </div>
          <div class="row add_ingredient">
            <div class="col l3 m12 s12">
              <h6>Ingredients</h6>
            </div>
            <div class = "col l9 m12 s12">
              {{> ingredient_input}}
            </div>
          </div>
          <div class="row add_price">
            <div class = "col l3 m12 s12">
              <h6>Price</h6>
            </div>
            <div class = "col l9 m12 s12">
              {{> price}}
            </div>
          </div>
          <div class="row food_allergies">
            <div class = "col l3 m12 s12">
              <h6>Major food allergies</h6>
            </div>
            <div class = "col l9 m12 s12">
              {{> food_allergies}}
            </div>
          </div>
          <div class="row dietary_preferences">
            <div class = "col l3 m12 s12">
              <h6>Dietary preferences</h6>
            </div>
            <div class = "col l9 m12 s12">
              {{> dietary_preferences}}
            </div>
          </div>
          <div class="row food_tags">
            <div class = "col l3 m12 s12">
              <h6>Tags</h6>
            </div>
            <div class = "col l9 m12 s12">
              {{> food_tags}}
            </div>
          </div>

            <input class="waves-effect waves-teal btn-flat create_dish_submit_btn" type="submit" value="Submit">
            <btn class="waves-effect waves-teal btn-flat update_dish_submit_btn"></btn>
        </form>
    </div>
</template>

<!------------------------------ TEMPLATES SESSION ----------------------------------------->

<template name="uploadForm">

     <div class = "circle_base" >
      {{#with currentUpload}}
        {{>spinner}}
      {{else}}
            {{#if checkUpload}}
                <div class = "circle_base" style = "background-image: url({{load_dish}})"></div>
            {{else}}
                <div class = "image_upload">
                    <label for = "file_input">
                        <img class="icon_img_upload" src="/img_upload_icon.svg" />
                    </label>
                    <div class="file-field input-field">
                        <input id="file_input" type="file">
                      <div class="file-path-wrapper">
                      </div>
                    </div>
                </div>
            {{/if}}
      {{/with}}
     </div>
</template>

<template name="ingredient_input">
  <table>
    <thead>
      <tr>
        <th>Ingredient</th>
        <th>Quantity</th>
        <th>Unit</th>
        <th></th>
      </tr>
    </thead>
    {{#if perm_ingredient_collection}}
      {{#each perm_ingredient_collection}}
      <tr style="height: 35px;">
        <td>{{ingredient_name}}</td>
        <td>{{ingredient_quantity}}</td>
        <td>{{ingredient_unit}}</td>
        <td>
          <a class = "transparent" href="#" id="delete_perm_ingredient">
            <i style="font-size: 20px; margin-top: 5px;" class="material-icons grey-text text-lighten-1">delete</i>
          </a>
        </td>
      </tr>
      {{/each}}
    {{else}}
      {{#each temp_ingredient_list}}
        <tr style="height: 35px;">
          <td>{{ingredient_name}}</td>
          <td>{{ingredient_quantity}}</td>
          <td>{{ingredient_unit}}</td>
          <td>
            <a class = "transparent" href="#" id="delete_temp_ingredient">
              <i style="font-size: 20px; margin-top: 5px;" class="material-icons grey-text text-lighten-1">delete</i>
            </a>
          </td>
        </tr>
      {{/each}}
    {{/if}}
    <tr>
      <td>
          <input id="ingredient_name" name="ingredient_name" type="text">
      </td>
      <td>
          <input id="ingredient_quantity" name="ingredient_quantity" type="number" min="0">
      </td>
      <td>
        <select id="ingredient_unit" name="ingredient_unit" type="text">
        <!-- https://en.wikibooks.org/wiki/Cookbook:Units_of_measurement -->
          <option disabled>Choose an unit</option>
          {{#each units}}
            <option value={{shortform}}>{{name}}</option>
          {{/each}}
        </select>
      </td>
    </tr>
  </table>
  <div class="right-align">
    <a class="btn-floating btn-medium waves-effect waves-red-300" id="{{check_status}}" type="submit" value="Submit"><i class="material-icons right">add</i></a>
  </div>
</template>

<template name="price">
  <table>
    <thead>
      <tr>
          <th>Cost</th>
          <th>Expected selling price</th>
          <th>Expected profit</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
            <input class = 'dish_price' id="dish_cost" name="dish_cost" type="number" min="0" value = "{{dish_cost}}">
        </td>
        <td>
            <input class = 'dish_price' id="dish_selling_price" name="dish_selling_price" type="number" min="0" value="{{dish_selling_price}}">
        </td>
        <td>
            <div class = 'center' id="profit"><strong>{{profit}}</strong></div>
        </td>
      </tr>
    </tbody>
  </table>
</template>

<template name="food_allergies">
    <br>
    <div class="row">
      {{#each allergy_list}}
        <div class="card z-depth-0" id="checkbox">
            <input type="checkbox" class="allergy_checkboxes filled-in" id= "{{file_name}}" value = "{{name}}" >
            <label for="{{file_name}}">{{name}}<div class="right icon icon_{{file_name}}"></div></label>
        </div>
      {{/each}}
    </div>
    <br>
</template>

<template name="dietary_preferences">
    <br>
    <div class="row">
      {{#each dietary_list}}
        <div class="card z-depth-0" id="checkbox">
            <input type="checkbox" class="filled-in" id="{{file_name}}" value={{name}} >
            <label for="{{file_name}}">{{name}}<div class="icon icon_{{file_name}}"></div></label>
        </div>
      {{/each}}
    </div>
    <br>
</template>

<template name="food_tags">
  <br>
  <ul class="collapsible" data-collapsible="expandable">
    <li>
      <div class="collapsible-header">By cuisine:</div>
      <div class="collapsible-body">
        <div class="row">
          {{> cuisines_list}}
        </div>
      </div>
    </li>
    <li>
      <div class="collapsible-header proteins">By proteins:</div>
      <div class="collapsible-body">
        <div class="row">
          {{> proteins_list}}
        </div>
      </div>
    </li>
    <li>
      <div class="collapsible-header">By categories:</div>
      <div class="collapsible-body">
        <div class="row">
          {{> categories_list}}
        </div>
      </div>
    </li>
    <li>
      <div class="collapsible-header">By cooking methods:</div>
      <div class="collapsible-body">
        <div class="row">
          {{> cooking_methods_list}}
        </div>
      </div>
    </li>
    <li>
      <div class="collapsible-header">By taste:</div>
      <div class="collapsible-body">
            <div class="row">
              {{> tastes_list}}
          </div>
      </div>
    </li>
    <li>
      <div class="collapsible-header">By textures:</div>
      <div class="collapsible-body">
        <div class="row">
          {{> textures_list}}
        </div>
      </div>
    </li>
    <li>
      <div class="collapsible-header">By vegetables:</div>
      <div class="collapsible-body">
        <div class="row">
          {{> vegetables_list}}
        </div>
      </div>
    </li>
    <li>
      <div class="collapsible-header">By condiments:</div>
      <div class="collapsible-body">
        <div class="row">
          {{> condiments_list}}
        </div>
      </div>
    </li>
    <li>
      <div class="collapsible-header">By serving temperature:</div>
      <div class="collapsible-body">
        <div class="row">
          {{> serving_temperature_list}}
          </div>
      </div>
    </li>
  </ul>
</template>

<Template name= "cuisines_list">
  {{# each cuisines_list}}
      <div class="col l4 m4 s6 food_tags_list">
          <input type="checkbox" class="filled-in" id={{id}} value={{name}}>
          <label for={{id}}>{{name}}</label>
      </div>
  {{/each}}
</Template>

<Template name="proteins_list">
  {{# each proteins_list}}
      <div class="col l4 m4 s6 food_tags_list">
          <input type="checkbox" class="filled-in" id={{id}} value={{name}}>
          <label for={{id}}>{{name}}</label>
      </div>
  {{/each}}
</Template>

<Template name="categories_list">
  {{# each categories_list}}
      <div class="col l4 m4 s6 food_tags_list">
          <input type="checkbox" class="filled-in" id={{id}} value={{name}}>
          <label for={{id}}>{{name}}</label>
      </div>
  {{/each}}
</Template>

<Template name="cooking_methods_list">
  {{# each cooking_methods_list}}
      <div class="col l4 m4 s6 food_tags_list">
          <input type="checkbox" class="filled-in" id={{id}} value={{name}}>
          <label for={{id}}>{{name}}</label>
      </div>
  {{/each}}
</Template>

<Template name = "tastes_list">
  {{# each tastes_list}}
      <div class="col l4 m4 s6 food_tags_list">
          <input type="checkbox" class="filled-in" id={{id}} value={{name}}>
          <label for={{id}}>{{name}}</label>
      </div>
  {{/each}}
</Template>

<Template name = "textures_list">
  {{# each textures_list}}
      <div class="col l4 m4 s6 food_tags_list">
          <input type="checkbox" class="filled-in" id={{id}} value={{name}}>
          <label for={{id}}>{{name}}</label>
      </div>
  {{/each}}
</Template>

<Template name = "vegetables_list">
  {{# each vegetables_list}}
      <div class="col l4 m4 s6 food_tags_list">
          <input type="checkbox" class="filled-in" id={{id}} value={{name}}>
          <label for={{id}}>{{name}}</label>
      </div>
  {{/each}}
</Template>

<Template name = "condiments_list">
  {{# each condiments_list}}
      <div class="col l4 m4 s6 food_tags_list">
          <input type="checkbox" class="filled-in" id={{id}} value={{name}}>
          <label for={{id}}>{{name}}</label>
      </div>
  {{/each}}
</Template>

<Template name = "serving_temperature_list">
  {{# each serving_temperature_list}}
      <div class="col l4 m4 s6 food_tags_list">
          <input type="checkbox" class="filled-in" id={{id}} value={{name}}>
          <label for={{id}}>{{name}}</label>
      </div>
  {{/each}}
</Template>
