<template name="shopping_cart">
  {{>bp_navbar}}
  <br>
  {{>shopping_cart_card}}
</template>


<template name="shopping_cart_card">
  <div class = "container col l12 m6 s6 valign">
    <div class="row col l12 valign">
      <div class="text-field col l3 m6 s6 valign">
        <h6>{{foodie_name}}'s Order Summary</h6>
        </div>
        {{#each shopping_cart}}
        <div class="row col l12 valign">
          <div class="text-field col l3 m6 s6 valign">
          </div>
          <div class="col l3 m2 s2 valign">
              <h6>{{product_name}}</h6>
                By {{seller_name}}
          </div>
          <div class="field col l1 m1 s1 valign">
              <input class="center" id="{{product_id}}quantity" name="quantity" type="text" value='{{quantity}}' min='1'>
            </div>
            <div class="bill_board">
            <div class="field col l1 m1 s1 valign">
              </div>
          <div class="col l1 m1 s2 valign">
            ${{product_price}}
          </div>
          <div class="field col l1 m1 s1 valign">
            </div>

          <div class="col l1 m1 s2 valign">
            $
          </div>
<div class="col l1 m1 s1 valign">
          <div class="product-removal">
            <i class="material-icons right">delete</i>
          </div>
        </div>



          </div>
          </div>
          {{/each}}
          </div>

  </div>
</template>
