.bill_board{
 margin-top: 12px;
}

.order_summary_card {
  width: 100%;
}

.empty_cart {
  height: 85vh;
  width: 100%;
}

#confirm_order_modal {
  height: 200px;
}

i.remove_button {
  cursor: pointer;
  padding-top: 8px;
}

#place_order {
  width
}
