<template name = "chef_profile_form">
    <form class ="chef_profile_form" id="profile_details">
      <div class = "profile_banner-area valign-wrapper">

        <div class = "container valign">
        <div class = "profile_circle_base" >
         {{#with currentUpload}}
                 <div class="preloader-wrapper big active img_preloader center">
                   <div class="spinner-layer spinner-red-only">
                     <div class="circle-clipper left">
                       <div class="circle"></div>
                     </div><div class="gap-patch">
                       <div class="circle"></div>
                     </div><div class="circle-clipper right">
                       <div class="circle"></div>
                     </div>
                   </div>
                 </div>
         {{else}}
               {{#if checkUpload}}
                   <img src= "profile_upload/{{imageFile}}" />
               {{else}}
                   <div class = "profile_image_upload">
                       <label for = "profile_file_input">
                           <img class="profile_icon_img_upload" src="/profile_upload/profile_img_upload_icon.svg" />
                       </label>
                       <div class="file-field input-field">
                           <input id="profile_file_input" type="file">
                         <div class="file-path-wrapper">
                         </div>
                       </div>
                   </div>
               {{/if}}
         {{/with}}
       </div>


       <div class="row col l6 m3 s3 valign">
      <h5 class = "white-text center-align">{{currentUser.profile.first_name}} {{currentUser.profile.last_name}}</h5>
    </div>
      <div class="input-field col l12 m2 s4 valign">
        <input id="profile_keywords" name="profile_keywords" type="text" placeholder="Write keywords about you">
      </div>
      <div class="row upload_banner_image">
        <h6 class = "white-text center-align">Upload Banner Image</h6>
   </div>
   </div>
      </div>
      <div class = "container">
        <br>
        <div class="row valign">
        <div class="input-field col l12 m2 s4 valign">
          <input id="kitchen_name" name="kitchen_name" type="text" placeholder="Kitchen name">
        </div>
        </div>
        <div class="row valign">
        <div class="col l3 m2 s2 -l4 -m2 -s2 valign">
          <input id="first_name" name="first_name" type="text" value={{currentUser.profile.first_name}}>
        </div>
          <div class="col l3 m2 s2 valign">
          <input id="last_name" name="last_name" type="text" value={{currentUser.profile.last_name}}>
        </div>
        <div class="col l3 m1 s1 valign">
          <input class ="datepicker" id="date_of_birth" name="date_of_birth" type="date" placeholder="Date of Birth">
        </div>
        <div class="col l2 m1 s1 valign">
        <input class ="with-gap" type="radio" name="gender" id="male"/>
        <label for="male">Male </label>
        <input class ="with-gap" type="radio" name="gender" id="female"/>
        <label for="female">Female </label>
      </div>
      </div>


      <div class="col l12 m2 s4 valign">
        <textarea id="about_myself" class="materialize-textarea" name="about_myself" type="text" placeholder="write a paragraph about yourself" data-length="120"></textarea>
      </div>
      <br>

      <br>
      <h6 class="right-align>">Address</h6>
      <div class = "container">
      <div class="col l6 m3 s3 valign">
      <input id="address_name" name="address_name" type="text" placeholder="Address name">
      </div>
      <div class="col l6 m3 s3 valign">
      <input id="address" name="address" type="text" placeholder="Address">
      </div>
      <div class="col l6 m3 s3 valign">
      <input id="mobile_no" name="mobile_no" type="text" placeholder="Mobile no.">
      </div>
      </div>
      <br>


      <br>
      <h6>Major food allergies</h6>
      <br>
      <div class="row">
        {{#each allergy_list}}
          <div class="col l4 m4 s4" id="checkbox">
              <input type="checkbox" class="filled-in" id= "{{file_name}}" value = {{name}} >
              <label for="{{file_name}}">{{name}}<div class="right icon icon_{{file_name}}"></div></label>
          </div>
        {{/each}}
      </div>
      <br>


      <br>
      <h6>Dietary preferences</h6>
      <br>
      <div class="row">
        {{#each dietary_list}}
          <div class="col l4 m4 s4" id="checkbox">
              <input type="checkbox" class="filled-in" id="{{file_name}}" value= {{name}} >
              <label for="{{file_name}}">{{name}}<div class="icon icon_{{file_name}}"></div></label>
          </div>
        {{/each}}
      </div>
      <br>

      <br>
      <h6>Payment details</h6>
      <br>
      <div class = "container">
      <div class="input-field col l6 m2 s4 valign">
        <input id="card_fullname" name="card_fullname" type="text" placeholder="Full Name on Card">
      </div>
      <div class="input-field col l6 m2 s4 valign">
        <input id="card_number" name="card_number" type="text" placeholder="Card Number">
      </div>
      <div class="row">
      <div class="input-field col l4 m2 s2 valign">
        <select class="material_select">
          <option value="" disabled selected>Month</option>
          <option value="1">Jan</option>
          <option value="2">Feb</option>
          <option value="3">Mar</option>
          <option value="4">Apr</option>
          <option value="5">May</option>
          <option value="6">Jun</option>
          <option value="7">Jul</option>
          <option value="8">Aug</option>
          <option value="9">Sep</option>
          <option value="10">Oct</option>
          <option value="11">Nov</option>
          <option value="12">Dec</option>
        </select>
        <label>Card Expires MM</label>
        </div>
        <div class="input-field col l4 m2 s2 valign">
          <select class="material_select">
            <option value="" disabled selected>Month</option>
            <option value="1">2017</option>
            <option value="2">2018</option>
            <option value="3">2019</option>
            <option value="4">2020</option>
            <option value="5">2021</option>
            <option value="6">2022</option>
            <option value="7">2023</option>
            <option value="8">2024</option>
            <option value="9">2025</option>
            <option value="10">2026</option>
            <option value="11">2027</option>
            <option value="12">2028</option>
          </select>
          <label>Card Expires YYYY</label>
          </div>
        </div>
    </div>
    <br>


    <br>
    <h6>Bank Details</h6>
    <div class="container">
      <div class="input-field col l6 m2 s3 valign">
      <input id="bank_fullname" name="bank_fullname" type="text" placeholder="Full Name on Bank Record">
    </div>
    <div class="input-field col l6 m2 s3 valign">
      <input id="bank_name" name="bank_name" type="text" placeholder="Bank Name">
    </div>
    <div class="input-field col l6 m2 s3 valign">
      <input id="bank_account_no" name="bank_account_no" type="text" placeholder="Bank Account Number">
    </div>
  </div>

  <br>
<input class="waves-effect waves-teal btn-flat right" type="submit" value="Submit">
  <br>
  </div>



    </form>
</template>
