<template name = "create_profile">
    <form class ="create_profile" id="profile_details">
      {{>profile_banner}}
      <div class = "container">
      <br>
      {{>profile_personal_details}}
      <br>
      <br>
      {{>profile_address_details}}
      <br>
      <br>
      <h6>Major food allergies</h6>
      <br>
      {{> food_allergies}}
      <br>
      <br>
      <h6>Dietary preferences</h6>
      <br>
      {{> dietary_preferences}}
      <br>
      <br>
      {{>profile_payment_details}}
      <br>
      <br>
      {{>profile_bank_details}}
      <br>
      <br>
      <button class="waves-effect waves-teal btn-flat right" type="submit" value="Submit">Save</button>

      </div>
      <br>
      <br>
    </form>
</template>


<!--Template of the profile banner-->
<template name = "profile_banner">
  <div class = "profile_banner-area valign-wrapper">

    <div class = "container valign">
    <div class = "profile_circle_base" >
     {{#with currentUpload}}
             <div class="preloader-wrapper big active img_preloader center">
               <div class="spinner-layer spinner-red-only">
                 <div class="circle-clipper left">
                   <div class="circle"></div>
                 </div><div class="gap-patch">
                   <div class="circle"></div>
                 </div><div class="circle-clipper right">
                   <div class="circle"></div>
                 </div>
               </div>
             </div>
     {{else}}
           {{#if checkUpload}}
               <img src= "profile_upload/{{imageFile}}" />
           {{else}}
               <div class = "profile_image_upload">
                   <label for = "profile_file_input">
                       <img class="profile_icon_img_upload" src="/profile_upload/profile_img_upload_icon.svg" />
                   </label>
                   <div class="file-field input-field">
                       <input id="profile_file_input" type="file">
                     <div class="file-path-wrapper">
                     </div>
                   </div>
               </div>
           {{/if}}
     {{/with}}
   </div>

   <div class="col l12 m4 s4 valign">
     <h5 class = "white-text center-align">{{currentUser.profile.first_name}} {{currentUser.profile.last_name}}</h5>
  </div>

  <div class="input-field col l6 m4 s4 valign">
    <input id="profile_keywords" name="profile_keywords" type="text" style="text-align:center" placeholder="Write keywords about you">
  </div>

  <div class="row upload_banner_image">
    <h6 class = "white-text center-align">Upload Banner Image</h6>
  </div>
  </div>
  </div>
</template>


<!--Template for the personal details-->
<template name="profile_personal_details">
  <div class="row valign">
  <div class="input-field col l12 m12 s12 valign">
    <input id="kitchen_name" name="kitchen_name" type="text">
    <label class="active" for="kitchen_name">Kitchen name</label>
  </div>
  </div>
  <div class="row valign">
  <div class="input-field col l3 m3 s3 -l4 -m2 -s2 valign">
    <input id="first_name" name="first_name" type="text">
    <label class="active" for="first_name">First Name</label>
  </div>
    <div class="input-field col l3 m3 s3 valign">
    <input id="last_name" name="last_name" type="text">
    <label class="active" for="last_name">Last Name</label>
  </div>
  <div class="input-field col l3 m3 s3 valign">
    <input class ="datepicker" id="date_of_birth" name="date_of_birth" type="text">
    <label for="first_name">Date of birth</label>
  </div>
  <div class="col l3 m3 s3 valign">
  <input class ="with-gap" type="radio" name="gender" value="male" id="male"/>
  <label for="male">Male </label>
  <input class ="with-gap" type="radio" name="gender" value="female" id="female"/>
  <label for="female">Female </label>
</div>
</div>
<div class="input-field col l12 m2 s4 valign">
  <textarea id="about_myself" class="materialize-textarea" name="about_myself" type="text" data-length="500"></textarea>
  <label for="about_myself">Write a paragraph about yourself</label>
</div>
</template>


<!-- Template for address-->
<template name="profile_address_details">
  <h6 class="right-align>">Address 1</h6>

  <div class = "container">
    <div class="input-field col l12 m12 s12">
      <select class="material_select" id="address_name_1" name="address_name_1">
        <option value="" disabled selected>   Address name</option>
        <option value="Home">   Home</option>
        <option value="Office">   Office</option>
      </select>
      </div>

  <div class="input-field col l12 m12 s12 valign">
  <input id="address_details_1" name="address_details_1" type="text">
  <label for="address_details_1">Address</label>
  </div>
  <div class="input-field col l12 m12 s12 valign">
  <input id="mobile_no_1" name="mobile_no_1" type="text">
  <label for="mobile_no_1">Mobile no.</label>
  </div>
  </div>

  <br>
  <br>
  <h6 class="right-align>">Address 2</h6>

  <div class = "container">
    <div class="input-field col l12 m12 s12">
      <select class="material_select" id="address_name_2" name="address_name_2">
        <option value="" disabled selected>   Address name</option>
        <option value="Home">   Home</option>
        <option value="Office">   Office</option>
      </select>
      </div>

  <div class="input-field col l12 m12 s12 valign">
  <input id="address_details_2" name="address_details_2" type="text">
  <label for="address_details_2">Address</label>
  </div>
  <div class="input-field col l12 m12 s12 valign">
  <input id="mobile_no_2" name="mobile_no_2" type="text">
  <label for="mobile_no_2">Mobile no.</label>
  </div>
  </div>
</template>

<template name="profile_payment_details">
  <h6>Payment details</h6>
  <br>
  <div class = "container">

    <div class="input-field col l3 m3 s3 valign">
      <input id="card_number" name="card_number" type="text" >
      <label for="card_number">Card Number</label>
    </div>
  <div class="input-field col l3 m3 s3 valign">
    <input id="card_fullname" name="card_fullname" type="text" >
    <label for="card_fullname">Full Name on Card</label>
  </div>

  <div class="row">
  <div class="col l3 m3 s3" name="card_details" id="card_details">
    <label for="card_details">Card Expires at</label>
  </div>
    <div class="input-field col l2 m2 s2 valign">
    <select class="material_select" id="card_exp_month">
      <option value="" disabled selected>MM</option>
      {{#each month_list}}
      <option value="{{option}}">{{month}}</option>
      {{/each}}
    </select>
  </div>
  <div class="input-field col l2 m2 s2 valign">
      <select class="material_select" id="card_exp_year">
        <option value="" disabled selected>YYYY</option>
        {{#each year_list}}
        <option value="{{option}}">{{year}}</option>
        {{/each}}
      </select>
      </div>


      <div class="input-field col l4 m4 s4 valign">
      <input id="cvv_code" name="cvv_code" type="text" >
      <label for="cvv_code">cvv2/cvc2 code</label>
    </div>
</div>
</div>
</template>

<template name="profile_bank_details">
  <h6>Bank details</h6>
  <div class="container">
    <div class="input-field col l6 m6 s6 valign">
    <input id="bank_fullname" name="bank_fullname" type="text" >
    <label for="bank_fullname">Full Name on Bank Record</label>
  </div>

    <div class="col l6 m6 s6 valign">
      <select class="material_select" id="bank_name">
        <option value="" disabled selected>   Bank Name</option>
        {{#each bank_list}}
        <option value="{{option}}">{{name}}</option>
        {{/each}}

      </select>
      </div>

  <div class="input-field col l6 m6 s6 valign">
    <input id="bank_account_no" name="bank_account_no" type="text">
    <label for="bank_account_no">Bank Account Number</label>
  </div>
</div>
</template>
