<template name="profile_card">
    <div class = "profile_banner-area valign-wrapper">

      <div class = "container valign">
      <div class = "profile_circle_base" >

        <div class = "profile_image_upload">
            <label for = "profile_file_input">
                <img class="profile_icon_img_upload" src="/profile_upload/profile_img_upload_icon.svg" />
            </label>
            <div class="file-field input-field">
                <input id="profile_file_input" type="file">
              <div class="file-path-wrapper">
              </div>
            </div>
        </div>
        </div>

     <div class="col l12 m4 s4 valign">
       <h6 class = "white-text center-align">{{profile_details.first_name}} {{profile_details.last_name}}</h6>
    </div>

    <div class="col l6 m4 s4 valign">
      <p class = "white-text center-align">{{profile_details.profile_keywords}}</p>
    </div>


    </div>
  </div>
    <br>

    <br>
    <div class = "container">
      <p class ="grey-text text-darken-2">{{profile_details.about_myself}}</p>
    <br>
    </div>


    <div class = "left80px">
    <h6>Created dishes</h6>
    <br>
    <div class="row">
    {{#each created_dishes}}
    {{>dishes_rotation}}
    {{/each}}
  </div>
</div>

    <br>
    <div class = "left80px">
    {{>profile_created_menus}}
    </div>
    <br>

    <br>
    <div class = "left80px">
    {{>profile_recently_exploered}}
    </div>
    <br>


  
</template>





<template name="profile_created_dishes">
<h6>Created dishes</h6>
<p class ="grey-text text-darken-2">{{dishes.dish_name}}</p>
</template>


<template name="profile_created_menus">
<h6>Created menus</h6>

</template>

<template name="profile_recently_exploered">
<h6>Explored goodies</h6>

</template>
