<template name="profile_card">
  <form name="profile_card">
    <div class = "profile_banner-area valign-wrapper">

      <div class = "container valign">
      <div class = "profile_circle_base" >

        <div class = "profile_image_upload">
            <label for = "profile_file_input">
                <img class="profile_icon_img_upload" src="/profile_upload/profile_img_upload_icon.svg" />
            </label>
            <div class="file-field input-field">
                <input id="profile_file_input" type="file">
              <div class="file-path-wrapper">
              </div>
            </div>
        </div>
        </div>

     <div class="col l12 m4 s4 valign">
       <h5 class = "white-text center-align">{{currentUser.profile.first_name}} {{currentUser.profile.last_name}}</h5>
    </div>

    <div class="col l6 m4 s4 valign">
      <h5 class = "white-text center-align">{{currentUser.profile_keywords}}</h5>
    </div>


    </div>
  </div>
    <br>

    <br>
    {{>profile_content_details}}
    <br>

    <br>
    {{>profile_created_dishes}}
    <br>

    <br>
    {{>profile_created_menus}}
    <br>

    <br>
    {{>profile_recently_exploered}}
    <br>


  </form>
</template>


<template name="profile_content_details">
  <div class = "container">
    <h6>{{currentUser.about_myself}}</h6>
  </div>
</template>



<template name="profile_created_dishes">
<h6>Created dishes</h6>

</template>


<template name="profile_created_menus">
<h6>Created menus</h6>

</template>

<template name="profile_recently_exploered">
<h6>Explored goodies</h6>

</template>
