<template name = "orders_tracking">
  <div class = 'container'>
    <div class = 'row'>
      <div class = 'col l12 m12 s12'>
        <div class = 'section'>
          <h5>Pending Orders</h5>
          <div class = 'orders_wrapper valign-wrapper' id='pending_order_wrapper'>
            {{#if order}}
              <div class = 'row'>
                {{#each order_sent}}
                  {{> pending_confirmation}}
                {{/each}}
              </div>
            {{else}}
              <div class = 'row'>
                <div class = 'col l12 m12 s12 offset-l4'>
                  <h5 class ='center-align white-text'>no new orders</h5>
                </div>
              </div>
            {{/if}}
          </div>
        </div>
      </div>
      <div class = 'col l12 m12 s12'>
        <div class = 'section'>
          <h5>Confirmed Orders</h5>
          <div class = 'orders_wrapper valign-wrapper' id='confirmed_order_wrapper'>
            {{#if cooking}}
              <div class = 'row'>
                {{#each order_cooking}}
                  {{>foodies_confirmed_order}}
                {{/each}}
              </div>
            {{else}}
            <div class = 'row'>
              <div class = 'col l12 m12 s12 offset-l4'>
                <h5 class ='center-align white-text'>no pending dishes</h5>
              </div>
            </div>
            {{/if}}
          </div>
        </div>
      </div>
      <div class = 'col l12 m12 s12'>
        <div class = 'section'>
          <h5>Orders Ready to Serve</h5>
          <div class = 'orders_wrapper valign-wrapper' id='ready_to_serve_wrapper'>
            {{#if ready_to_serve}}
              <div class = 'row'>
                {{#each order_ready}}
                  {{> ready_card}}
                {{/each}}
              </div>
            {{else}}
            <div class = 'row'>
              <div class = 'col l12 m12 s12 offset-l4'>
                <h5 class ='center-align white-text'>no dishes ready to serve</h5>
              </div>
            </div>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<template name = 'pending_confirmation'>
  <div class ='card sticky-action request_card'>
    <div class = 'card-image'>
      <a class ='btn-floating grey lighten-1 cooking_card_profile_picture' style="background-image: url({{kitchen_profile_picture}})"></a>
      <h6 id = 'foodie_name' style='line-height: 40px;'>{{get_kitchen_name}}</h6>
      <div class = 'divider'></div>
      <!-- #: {{get_transaction_no}} -->
    </div>
    <div class = 'card-content'>
      {{#each ordered_dish}}
        {{#if product_is_dish}}
          à la carte order:
          <table>
            <tbody>
              <td><a class ='cooking_card_profile_picture' style="background-image: url({{get_dish_image}})"></a></td>
              <td>{{get_dish_name}}</td>
              <td>x{{get_dish_qty}}</td>
            </tbody>
          </table>
        {{else}}
        menu order:
          <table>
            <tbody>
              <td><a class ='cooking_card_profile_picture' style="background-image: url({{get_menu_image}})"></a></td>
              <td>{{get_menu_name}}</td>
              <td>x{{get_menu_qty}}</td>
            </tbody>
          </table>
        {{/if}}
      {{/each}}
      status:
      <div class = "valign-wrapper">
        <div class="preloader-wrapper small active">
          <div class="spinner-layer spinner-red-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
        <span class = 'valign' style = 'margin: 12px;'><strong>Waiting for confirmation...</strong></span>
      </div>
    </div>
    <div class = 'card-action'>
      <div class = 'center'>
        <a class="waves-effect waves-light btn-floating red lighten-2" id='cancel' style='margin:0px 12px 0px 12px;'><i class="material-icons">clear</i></a>
      </div>
    </div>
  </div>
</template>

<template name = 'foodies_confirmed_order'>
  {{set_timer}}
  <div class ='card request_card'>
    <div class = 'card-image'>
      <a class ='btn-floating grey lighten-1 cooking_card_profile_picture' style="background-image: url({{foodie_profile_picture}})"></a>
      <h6 id = 'foodie_name' style='line-height: 40px;'>{{get_kitchen_name}}</h6>
      <!--<span id = 'transaction_no' style='line-height: 12px;'><small><strong>Transaction no.:</strong> {{get_transaction_no}}</small></span>-->
      <div class = 'divider'></div>
    </div>
    <div class = 'card-content'>
      {{#if product_is_dish}}
        <div class = 'row'>
          <table>
            <tbody>
              <td><a class ='cooking_card_profile_picture dasdas' style="background-image: url({{get_dish_image}})"></a></td>
              <td><strong>{{get_dish_name}}</strong></td>
              <td><strong>x{{get_dish_qty}}</strong></td>
            </tbody>
          </table>
        </div>
      {{else}}
        {{get_dish_qty}} x
        {{#with dishes_in_menu}}
        <strong>{{menu_name}}:</strong>
          {{#each dishes_id}}
            <div class = 'row'>
              <table>
                <tbody>
                  <td><a class ='cooking_card_profile_picture dasdastttt' style="background-image: url({{get_menu_dish_image}})"></a></td>
                  <td><strong>{{get_menu_dish_name}}</strong></td>
                  <td><strong>x{{get_menu_qty}}</strong></td>
                </tbody>
              </table>
            </div>
          {{/each}}
        {{/with}}
      {{/if}}
      {{#if time_is_up}}
        <div id = 'times_up_display center'>
          <strong style='font-size: 40px;'>Time is up</strong>
        </div>
      {{else}}
        <div id= 'cooking_timer'>
          <p>Service in:</p>
          <div class = 'center'>
            {{#if getCountdown.days}}
              <strong style='font-size: 40px;'>{{getCountdown.days}}</strong><span>days </span>
            {{/if}}
            <strong style='font-size: 40px;'>{{getCountdown.hours}}</strong><span>hrs </span>
            <strong style='font-size: 40px;'>{{getCountdown.minutes}}</strong><span>mins </span>
          </div>
        </div>
      {{/if}}
    </div>
  </div>
</template>

<template name = 'ready_card'>
  {{check_transaction_closed}}
  <div class ='card sticky-action request_card'>
    <div class = 'card-image'>
      <a class ='btn-floating grey lighten-1 cooking_card_profile_picture' style="background-image: url({{kitchen_profile_picture}})"></a>
      <h6 id = 'foodie_name' style='line-height: 40px;'>{{get_kitchen_name}}</h6>
      <div class = 'divider'></div>
      <!-- #: {{get_transaction_no}} -->
    </div>
    <div class = 'card-content'>
      {{#each ready_order}}
        {{#each ordered_dish}}
          {{#if product_is_dish}}
            {{#if transaction_is_complete}}
              <h6 class = 'center-align'>Please review your order:</h6>
            {{/if}}
            <table>
              <tbody>
                <td><a class ='cooking_card_profile_picture' style="background-image: url({{get_dish_image}})"></a></td>
                <td>{{get_dish_name}}</td>
                <!--<td>x{{get_dish_qty}}</td>-->
              </tbody>
            </table>
            {{#if transaction_is_complete}}
              {{> input_rating}}
            {{/if}}
          {{else}}
            {{#if transaction_is_complete}}
              <h6 class = 'center-algin'>Please review your order:</h6>
            {{/if}}
            <table>
              <tbody>
                <td><a class ='cooking_card_profile_picture' style="background-image: url({{get_menu_image}})"></a></td>
                <td>{{get_menu_name}}</td>
                <!--<td>x{{get_menu_qty}}</td>-->
              </tbody>
            </table>
            {{#if transaction_is_complete}}
              {{> input_rating}}
            {{/if}}
          {{/if}}
        {{/each}}
      {{/each}}
    </div>
  </div>
</template>
