<template name = "forgot_password">
  <div class = "forgot_password ">
    <div class="modal-content">
      <form class = "forgot_password_form">
        <p>Please enter the email address you have registered with us:</p>
        <div class="input-field">
          <input id="forgot_password_email" name="email" type="email" class="validate" placeholder="Email Address">
          <span class = "red-text message_response"></span>
        </div>
      </form>
    </div>
    <div class="row">
      <div class="right">
        <div class="modal_buttons">
          <button class="waves-effect waves-red btn-flat right" id="submit_forgot_password" type="submit">Submit</button>
          <button class="waves-effect waves-red btn-flat right" id="cancel_forgot_password">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</template>
