<template name = "footer">
  <footer class = "page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <div class = "logo_wrapper">
            <img src="footer/logo.svg" alt = "blueplate_logo" class ="footer_logo"/>
          </div>
          <p class="grey-text text-lighten-4" style = "margin-left: 67px;">everyone's home chef.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <ul>
            <!--<li><a class="grey-text text-lighten-3" href="#!">Home Chefs Handbook</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Blog</a></li> -->
            <li><a class="grey-text text-lighten-3" href="#!"><small>Privacy Statement</small></a></li>
            <li><a class="grey-text text-lighten-3" href="#!"><small>Term Of Use</small></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        <div class = "row" style="margin-bottom:0;">
          <div class = "col l6 m6 s12">
            <small>© 2018 Copyright - Blueplate Technologies Limited</small>
          </div>
          <div class = "col l6 m6 s12">
            <a class="grey-text text-lighten-4 right social_icons" id="facebook_icon" href="https://www.facebook.com/blueplate.co/" target="_blank"><img src="/social_media_icons/facebook.svg"/></a>
            <a class="grey-text text-lighten-4 right social_icons" id="instagram_icon" href="https://www.instagram.com/blueplate.co/" target="_blank"><img src="/social_media_icons/instagram.svg"/></a>
            <a class="grey-text text-lighten-4 right social_icons" id="linkedin_icon" href="https://www.linkedin.com/company/blueplate-technologies-limited/" target="_blank"><img src="/social_media_icons/linkedin.svg"/></a>
            <!-- <a class="grey-text text-lighten-4 right social_icons" id="youtube_icon" href="#!"><img src="/social_media_icons/youtube.svg"/></a> -->
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>
