<template name = "footer">
  <footer class = "page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <div class = "logo_wrapper">
            <img src="footer/logo.svg" alt = "blueplate_logo" class ="footer_logo"/>
          </div>
          <p class="grey-text text-lighten-4" style = "margin-left: 67px;">everyone's home chef.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Home Chefs Handbook</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Blog</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Privacy Statement</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Term Of Use</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2018 Copyright - Blueplate Technologies Limited
      <a class="grey-text text-lighten-4 right" href="#!">F</a>
      <a class="grey-text text-lighten-4 right" href="#!">I</a>
      <a class="grey-text text-lighten-4 right" href="#!">Y</a>
      <a class="grey-text text-lighten-4 right" href="#!">L</a>
      </div>
    </div>
  </footer>
</template>
