<template name = "menu_card">
  {{> delete_confirmation_popup}}
  <div id="menu_card" class = "card z-depth-0 card_on_display">
    <div class= "card-image">
      <a class='modal-trigger' href="#menu_card_display">
      <div class="carousel carousel-slider center" id="carousel_wrapper" data-indicators="true">
        {{#each image_id}}
          {{#with image_retreival}}
            <div class = "carousel-item">
              <div class = "menu_image_display" style="background-image: url('{{meta.base64}}')">
              </div>
            </div>
          {{/with}}
        {{/each}}
      </div>
      <div class ='switch_wrapper' style='margin-left: 24px; margin-top: 8px;'>
        {{> online_switch}}
      </div>
      <a class="btn-floating halfway-fab grey lighten-1 homecook_image" style="background-image: url({{get_homecook_image}})"></a>
      <div class = "dropdown_element">
        <a class = "dropdown-button right" href="#" data-activates="dropdown_{{_id}}">
          <i class="material-icons grey-text text-darken-1">more_vert</i>
        </a>
        <ul id='dropdown_{{_id}}' class='dropdown-content'>
          <li><a id="edit_menu" href="#edit_menu_modal"><i class="material-icons">edit</i>Edit</a></li>
          <li><a id="delete_menu"><i class="material-icons">delete</i>Delete</a></li>
        </ul>
      </div>
    </a>
    </div>
    <div class = "card-content">
      <h6 class = "black-text">{{menu_name}}</h6>
      <h6>${{menu_selling_price}} for {{min_order}} | ready: {{#if lead_days}}{{lead_days}}{{/if}} days {{#if lead_hours}}{{lead_hours}}{{/if}} hours</h6>
      {{> rating_display}}
      <ul class = "browser-default">
        {{#each dishes_id}}
          {{#with dishes_retreival}}
            <li style="margin-top: 12px;">{{dish_name}}</li>
          {{/with}}
        {{/each}}
      </ul>
    </div>
    <div class = "card-action">
      <div class = "center">
        <a class="waves-effect waves-light btn red lighten-2 " style="width:65%;" id="menu_order">Order</a>
      </div>
    </div>
  </div>
</template>


<template name="delete_confirmation_popup">
  <div id="delete_confirmation_menu" class="modal">
    <div class="modal-content">
      <h6>Are you sure?</h6>
      <p>Are you sure to delete this menu?</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
      <a id="confirm_delete_menu" class="modal-action modal-close waves-effect waves-green btn-flat">Sure</a>
    </div>
  </div>
</template>
