#menu_card {
  width: 290px;
  display: inline-block;
}

.dropdown_element {
  position: absolute;
  display: block;
  right: 22px;
  top: 22px;
  z-index: 9;
}

.dishes_details {
  display: block;
  position: relative;
  top: 37px;
}

#carousel_wrapper {
  width: 290px !important;
  height: 180px !important;
  border-radius: 20px 20px 0px 0px;
}
.menu_image_display {
  height: 180px;
  width: 100%;
  border-radius: 10px;
  background-size: cover;
}

/** Pinterest way to display card **/
@media (max-width: 1000px) {
  .menu_card_wrapper {
    -webkit-column-count: 1;
    -webkit-column-gap:   12px;
    -moz-column-count:    1;
    -moz-column-gap:      12px;
    column-count:         1;
    column-gap:           12px;
  }
}
/** Pinterest way to display card **/
@media(min-width: 1000px) {
  .menu_card_wrapper {
    -webkit-column-count: 2;
    -webkit-column-gap:   12px;
    -moz-column-count:    2;
    -moz-column-gap:      12px;
    column-count:         2;
    column-gap:           12px;
  }
}
