<template name = "cooking_tab">
  <div class="row">
    <div class="col l12 m12 s12">
      <ul class="tabs">
        <li class="tab col l2 m3 s3"><a href="#dashboard">Dashboard</a></li>
        <li class="tab col l2 m3 s3"><a class="active" href="#manage_dishes">Manage dishes</a></li>
        <li class="tab col l2 m3 s3"><a href="#manage_menus">Manage menus</a></li>
        <li class="tab col l2 m3 s3"><a href="#start_cooking">Start cooking</a></li>
      </ul>
    </div>
    <div id="dashboard" class="col l12 m12 s12">Dashboard</div>
    <div id="manage_dishes" class="col l12 m12 s12">
      {{> dishes_summary}}
    </div>
    <div id="manage_menus" class="col l12 m12 s12">
      {{> menu_creation}}
    </div>
    <div id="start_cooking" class="col l12 m12 s12">
      {{> start_cooking}}
    </div>

  </div>
  {{> check_kitchen_profile}}
</template>

<template name = "check_kitchen_profile">
  <div id="check_kitchen_modal" class ="modal modal-fixed-footer" style="height: 250px; width: 500px;">
    <div class = "modal-content">
      <p>You haven't created your kitchen profile, so you are unable to create any dishes and menus yet.</p>
      <p>May I take you to create your kitchen profile?</p>
    </div>
    <div class= "modal-footer">
      <a href="./main" class="modal-action modal-close waves-effect waves-light btn-flat">No, thanks</a>
      <a href="./profile" class="modal-action modal-close waves-effect waves-red btn red lighten-2">Sure</a>
    </div>
  </div>
</template>
