.request_card {
  overflow: hidden;
  display: inline-block;
  height: auto;
  width: 290px !important;
  margin: 6px !important;
}

.cooking_card_profile_picture{
  display: inline-block;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.confirmed_order_wrapper {
  overflow-x: visible;
  overflow: scroll;
}

#foodie_name {
  display: inline-block;
}

.orders_wrapper {
  border-radius: 20px;
  min-height: 150px;
  padding: 16px 0px 0px 40px;
  overflow-x: hidden;
  vertical-align: top;
  background-color: #c7c7c7;
}
