<!-- Create Profile Templates-->
<!-- Foodies templates starts at line 10-->
<!-- Homecook templates starts at line 260-->






<!-- Foodie Profile-->
<!--Template of the profile banner-->
<template name = "profile_banner">
    <div class = "profile_banner_area valign-wrapper">
      <div class = "container valign">
        {{> upload_profile}}
       <div class="col l12 m4 s4 valign">
         <h5 class = "white-text center-align">
           {{check_foodie_name}}
          </h5>
      </div>
      <div class="input-field col l6 m4 s4 valign">
        <input id="profile_keywords" name="profile_keywords" type="text" style="text-align:center" placeholder="Write keywords about you" value={{check_foodie_keywords}}>
      </div>
      <div class="row upload_banner_image">
        {{#with currentUpload}}
          <div class = "profile_banner_upload">
            <div class="progress">
                <div class="indeterminate"></div>
            </div>
          </div>
        {{else}}
          {{#if checkUpload}}
            {{load_banner}}
            <div class="profile_banner_upload">
              <label for="banner_file_input">
                <h6 class = "white-text center-align" id="banner_upload_button">Change Banner Image</h6>
              </label>
              <div class="file-field input-field">
                <input id="banner_file_input" type="file">
              <div class="file-path-wrapper">
              </div>
            </div>
          </div>
          {{else}}
            <div class="profile_banner_upload">
              <label for="banner_file_input">
                <h6 class = "white-text center-align" id="banner_upload_button">Upload Banner Image</h6>
              </label>
              <div class="file-field input-field">
                <input id="banner_file_input" type="file">
                <div class="file-path-wrapper">
                </div>
              </div>
            </div>
          {{/if}}
        {{/with}}
      </div>
    </div>
  </div>
</template>

<template name="upload_profile">
  <div class = "profile_upload_wrapper">
    {{#with currentUpload}}
     {{> spinner}}
    {{else}}
      {{#with checkUpload}}
        <div class = "profile_upload_wrapper" style="background-image: url('{{load_profile}}')"></div>
      {{else}}
        <div class = "profile_image_upload">
          <label for = "file_input">
            <img class="profile_icon_img_upload" src="/img_upload_icon.svg" />
          </label>
          <div class="file-field input-field">
            <input id="file_input" type="file">
            <div class="file-path-wrapper">
            </div>
          </div>
        </div>
      {{/with}}
    {{/with}}
  </div>
</template>

<!-- Template for foodie Profile-->
<template name = "create_foodie_profile">
    <form class ="create_foodie_profile col l12 m6 s6" id="create_foodie_profile">
      {{>profile_banner}}
      <br>
      <br>
      <div class = "container">
      {{>profile_personal_details}}
      <br>
      {{>profile_payment_details}}
      <br>
      {{>profile_food_allergies}}
      <br>
      {{>profile_dietary_perferences}}
      <br>
      <button id="create_foodie_button" class="waves-effect waves-teal btn-flat right" type="submit" value="Submit">Save</button>

      <br>
      <br>
      </div>
      <br>
      <br>
    </form>
</template>


<!--Template for the personal details-->
<template name="profile_personal_details">
  <!--Row 1-->
  <div class="row col l12 valign">
    <div class="text-field col l3 m6 s6 valign">
      <h6>Your details</h6>
    </div>
    <div class="text-field col l3 m3 s6 valign">
      <input id="foodie_name" name="foodie_name" type="text" placeholder="Foodie Name">
    </div>
    <div class="text-field col l3 m3 s6 valign">
      <input id="email" name="email" type="text" placeholder="Email Address">
    </div>
    <div class="text-field col l3 m3 s6 valign">
        <input class ="datepicker" id="date_of_birth" name="date_of_birth" type="text" placeholder="Date of birth">
      </div>
  </div>
        <div class="row col l12 valign">
          <div class="text-field col l3 m6 s6 valign">
            </div>
            <div class="text-field col l3 m2 s2 valign">
              <select class="material_select" id="mobile_country">
                <option value="" disabled selected>Country</option>
                {{#each country_list}}
                <option value={{dial_code}}>{{name}} {{dial_code}}</option>
                {{/each}}
                </select>
              </div>
          <div class="text-field col l3 m3 s6 valign">
              <input id="mobile" name="mobile" type="text" placeholder="Mobile no.">
            </div>
            <div class="text-field col l3 m3 s3 valign">
              <div class="col l6 m3 s3 valign">
                <p><input class ="with-gap right" type="radio" name="gender" value="male" id="male"/>
                <label for="male">Male </label></p>
              </div>
                <div class="col l6 m3 s3 valign">
                <p><input class ="with-gap right" type="radio" name="gender" value="female" id="female"/>
                <label for="female">Female </label></p>
              </div>
              </div>
          </div>

    <!--Row 2-->
  <div class="row col l12 m6 s6 valign">
    <div class="text-field col l3 m6 s6 valign">
      <h6>Home Address</h6>
    </div>
    <div class="input-field col l6 m6 s6 valign">
      <input id="home_address" name="home_address" type="text">
      <label for="home_address">Home Address</label>
      </div>
      <div class="input-field col l3 m2 s2 valign">
        <select class="material_select" id="home_address_country">
          <option value="" disabled selected>Country</option>
          {{#each country_list}}
          <option value={{name}}>{{name}}</option>
          {{/each}}
          </select>
        </div>
    </div>

    <!--Row 3-->
    <div class="row col l12 m6 s6 valign">
      <div class="text-field col l3 m6 s6 valign">
        <h6>Office Address</h6>
      </div>
      <div class="input-field col l6 m6 s6 valign">
        <input id="office_address" name="office_address" type="text">
        <label for="office_address">Office Address</label>
        </div>
        <div class="input-field col l3 m2 s2 valign">
          <select class="material_select" id="office_address_country">
            <option value="" disabled selected>Country</option>
            {{#each country_list}}
            <option value={{name}}>{{name}}</option>
            {{/each}}
            </select>
          </div>
      </div>

      <!--Row 4-->
      <div class="row col l12 m6 s6 valign">
        <div class="input-field col l9 m6 s6 offset-l3 valign">
          <textarea id="about_myself" class="materialize-textarea" name="about_myself" type="text" data-length="500"></textarea>
          <label for="about_myself">Write a paragraph about yourself</label>
          </div>
        </div>
    </template>

<!-- Credit Card Details for Payment -->
<template name="profile_payment_details">
  <div class="row col l12 valign">
    <div class="text-field col l3 m3 s3 valign">
      <h6>Payment details</h6>
      </div>
      <div class="input-field col l3 m3 s3 valign">
        <input id="card_fullname" name="card_fullname" type="text" >
        <label for="card_fullname">Full Name on Card</label>
      </div>
    <div class="input-field col l2 m3 s3 valign">
      <input id="card_number" name="card_number" type="text" >
      <label for="card_number">Card Number</label>
      </div>
      <div class="input-field col l1 m2 s2 valign">
        <select class="material_select" id="card_exp_month">
          <option value="" disabled selected>MM</option>
          {{#each month_list}}
          <option value="{{option}}">{{month}}</option>
          {{/each}}
          </select>
        </div>
      <div class="input-field col l1 m2 s2 valign">
        <select class="material_select" id="card_exp_year">
          <option value="" disabled selected>YYYY</option>
          {{#each year_list}}
          <option value="{{option}}">{{year}}</option>
          {{/each}}
          </select>
        </div>
      <div class="input-field col l2 m4 s4 valign">
        <input id="cvv_code" name="cvv_code" type="text" >
        <label for="cvv_code">cvv2/cvc2 code</label>
        </div>
    </div>
    <div class="row col l12 valign">
      <div class="input-field col l6 m6 s6 offset-l3 valign">
        <input id="billing_address" name="billing_address" type="text">
        <label for="billing_address">Billing Address</label>
        </div>
        <div class="input-field col l3 m2 s2 valign">
          <select class="material_select" id="billing_address_country">
            <option value="" disabled selected>Country</option>
            {{#each country_list}}
            <option value="{{name}}">{{name}}</option>
            {{/each}}
            </select>
          </div>
    </div>
</template>

<!-- Template for calling food allergies -->
<template name="profile_food_allergies">
  <div class ="row l12 valign">
    <div class="text-field col l3 m3 s3 valign">
      <h6>Major food allergies</h6>
      </div>
    <div class="col l9 valign">
      {{> food_allergies}}
      </div>
    </div>
</template>

<!--Template to call dietary Perference-->
<template name="profile_dietary_perferences">
  <div class ="row l12 valign">
    <div class="text-field col l3 m3 s3 valign">
      <h6>Dietary preferences</h6>
      </div>
    <div class="col l9 valign">
      {{> dietary_preferences}}
      </div>
    </div>
</template>








<!-- HOMECOOK PROFILE-->
<!-- Template for homecook Profile-->
<template name = "create_homecook_profile">
  <form class ="create_homecook_profile col l12 m6 s6" id="create_homecook_profile">
    {{>homecook_profile_banner}}
    <br>
    <br>
    <div class = "container">
    {{>homecook_profile_details}}
    <br>
    {{>profile_bank_details}}
    <br>
    <br>
    <button id='create_homecook_button' class="waves-effect waves-teal btn-flat right" type="submit" value="Submit">Save</button>
    <br>
    <br>
    </div>
    <br>
    <br>
  </form>
</template>

<!--Template of the homecook profile banner-->
<template name="homecook_profile_banner">
  <div class = "homecook_profile_banner_area valign-wrapper">
    <div class = "container valign">
      {{> upload_homecook_profile}}
     <div class="col l12 m4 s4 valign">
       <h5 class = "white-text center-align">
         {{check_chef_name}}
        </h5>
    </div>
    <div class="input-field col l6 m4 s4 valign">
      <input id="homecook_profile_keywords" name="homecook_profile_keywords" type="text" style="text-align:center" placeholder="Write keywords about you" value={{check_chef_keywords}}>
    </div>
    <div class="row upload_banner_image">
      {{#with currentUpload}}
        <div class = "homecook_profile_banner_upload">
          <div class="progress">
            <div class="indeterminate"></div>
        </div>
        </div>
      {{else}}
        {{#if checkUpload}}
          {{load_banner}}
          <div class="homecook_profile_banner_upload">
            <label for="homecook_banner_file_input">
              <h6 class = "white-text center-align" id="homecook_banner_upload_button">Change Banner Image</h6>
            </label>
            <div class="file-field input-field">
              <input id="homecook_banner_file_input" type="file">
            <div class="file-path-wrapper">
            </div>
          </div>
        </div>
        {{else}}
          <div class="homecook_profile_banner_upload">
            <label for="homecook_banner_file_input">
              <h6 class = "white-text center-align" id="homecook_banner_upload_button">Upload Banner Image</h6>
            </label>
            <div class="file-field input-field">
              <input id="homecook_banner_file_input" type="file">
              <div class="file-path-wrapper">
              </div>
            </div>
          </div>
        {{/if}}
      {{/with}}
    </div>
  </div>
</div>
</template>

<template name="upload_homecook_profile">
  <div class = "homecook_profile_upload_wrapper">
    {{#with currentUpload}}
     {{> spinner}}
    {{else}}
      {{#with checkUpload}}
        <div class = "profile_upload_wrapper" style="background-image: url({{load_profile}})"></div>
      {{else}}
        <div class = "profile_image_upload">
          <label for = "homecook_file_input">
            <img class="homecook_profile_icon_img_upload" src="/img_upload_icon.svg" />
          </label>
          <div class="file-field input-field">
            <input id="homecook_file_input" type="file">
            <div class="file-path-wrapper">
            </div>
          </div>
        </div>
      {{/with}}
    {{/with}}
  </div>
</template>

<!--Template of the kitchen details-->
<template name="homecook_profile_details">
  <div class="row col l12 valign">
    <div class="text-field col l3 m3 s3 valign">
      <h6>Kitchen Details</h6>
    </div>
    <div class="input-field col l3 m3 s3 valign">
      <input id="kitchen_name" name="kitchen_name" type="text">
      <label for="kitchen_name">Kitchen Name</label>
      </div>

      <div class="input-field col l3 m3 s3 valign">
        <input id="chef_name" name="chef_name" type="text">
        <label for="chef_name">Chef Name</label>
        </div>
    </div>
  <div class="row col l12 valign">
    <div class="text-field col l3 m3 s3 valign">
      <h6>Kitchen Address</h6>
    </div>
    <div class="input-field col l6 m3 s3 valign">
      <input id="kitchen_address" name="kitchen_address" type="text">
      <label for="kitchen_address">Kitchen Address</label>
      </div>
      <div class="input-field col l3 m2 s2 valign">
        <select class="material_select" id="kitchen_address_country">
          <option value="" disabled selected>Country</option>
          {{#each country_list}}
          <option value="{{name}}">{{name}}</option>
          {{/each}}
          </select>
        </div>
    </div>
    <div class="row col l12 valign">
      <div class="input-field col l9 m2 s4 offset-l3 valign">
        <textarea id="about_homecook_myself" class="materialize-textarea" name="about_homecook_myself" type="text" data-length="500"></textarea>
        <label for="about_homecook_myself">Write a paragraph about your food and the story about you</label>
        </div>
      </div>
  </template>


<!-- Template to call bank payable details -->
<template name="profile_bank_details">

  <div class="row col l12 m6 s6 valign">
    <div class="text-field col l3 m3 s6 valign">
      <h6>Bank details</h6>
      </div>
      <div class="input-field col l3 m3 s6 valign">
        <input id="bank_fullname" name="bank_fullname" type="text" >
        <label for="bank_fullname">Account Name</label>
      </div>
      <div class="input-field col l3 m3 s6 valign">
        <input id="bank_name" name="bank_name" type="text" >
        <label for="bank_name">Name of the Bank</label>
      </div>
      <div class="input-field col l3 m2 s6 valign">
        <input id="bank_account_no" name="bank_account_no" type="text">
        <label for="bank_account_no">Account Number</label>
      </div>
    </div>
    <div class="row col l12 m6 s6 valign">
      <div class="input-field col l6 m6 s6 offset-l3 valign">
        <input id="bank_address" name="bank_address" type="text">
        <label for="bank_address">Address of the Bank</label>
        </div>
      <div class="input-field col l3 m2 s2 valign">
        <select class="material_select" id="bank_address_country">
          <option value="" disabled selected>Country</option>
          {{#each country_list}}
          <option value="{{name}}">{{name}}</option>
          {{/each}}
          </select>
        </div>

</div>
</template>


<!--
<template name="profile_address_details">
  <h6 class="right-align>">Address 1</h6>

  <div class = "container">
    <div class="input-field col l12 m12 s12">
      <select class="material_select" id="address_name_1" name="address_name_1">
        <option value="" disabled selected>   Address name</option>
        <option value="Home">   Home</option>
        <option value="Office">   Office</option>
      </select>
      </div>

  <div class="input-field col l12 m12 s12 valign">
  <input id="address_details_1" name="address_details_1" type="text">
  <label for="address_details_1">Address</label>
  </div>
  <div class="input-field col l12 m12 s12 valign">
  <input id="mobile_no_1" name="mobile_no_1" type="text">
  <label for="mobile_no_1">Mobile no.</label>
  </div>
  </div>

  <br>
  <br>
  <h6 class="right-align>">Address 2</h6>

  <div class = "container">
    <div class="input-field col l12 m12 s12">
      <select class="material_select" id="address_name_2" name="address_name_2">
        <option value="" disabled selected>   Address name</option>
        <option value="Home">   Home</option>
        <option value="Office">   Office</option>
      </select>
      </div>

  <div class="input-field col l12 m12 s12 valign">
  <input id="address_details_2" name="address_details_2" type="text">
  <label for="address_details_2">Address</label>
  </div>
  <div class="input-field col l12 m12 s12 valign">
  <input id="mobile_no_2" name="mobile_no_2" type="text">
  <label for="mobile_no_2">Mobile no.</label>
  </div>
  </div>
</template>
-->
