
<template name = "edit_foodie_profile">
  {{#with get_foodie_profile}}
  <form class ="edit_foodie_profile col l12 m6 s6" id="edit_foodie_profile">
    {{>profile_banner}}
    <div class='container'>
    <!--  <ul id='edit_foodie_stepper' class="stepper horizontal" style="min-height:640px">
         <li class="step active">
            <div data-step-label="For internal only" class="step-title waves-effect">Your details</div>
            <div class="step-content">-->

            <div class="row col l12 m6 s6 valign">
              <br>
              1 - Personal details (Only for internal)
              <br>
            </div>
              <div class="row col l12 m6 s6 valign">
                <div class="text-field col l3 m12 s12 valign">
                  <h6>Your details</h6>
                </div>

                <div class="input-field col l3 m4 s12 valign">
                  <input id="foodie_name" name="foodie_name" type="text" value="{{get_foodie_profile.foodie_name}}" class="mandatory" required />
                  <label class="active" for="foodie_name">foodie name</label>
                </div>
                <div class="input-field col l3 m4 s6 valign">
                  <input id="first_name" name="first_name" type="text" value="{{get_foodie_profile.first_name}}">
                  <label class="active" for="first_name">first name</label>
                </div>
                <div class="input-field col l3 m4 s6 valign">
                  <input id="last_name" name="last_name" type="text" value="{{get_foodie_profile.last_name}}">
                  <label class="active" for="first_name">last name</label>
                </div>
              </div>

              <div class="row col l12 m4 s6 valign">
                <div class="input-field col l4 m5 s12 offset-l3 valign">
                  <input id="email" name="email" type="text" value={{get_foodie_profile.email}} disabled>
                  <label class="active" for="email">email Address</label>
                </div>
                <div class="input-field col l2 m3 s6 valign">
                    <input class ="datepicker" id="date_of_birth" name="date_of_birth" type="text" value={{get_foodie_profile.date_of_birth}}>
                    <label class="active" for="date_of_birth">date of birth</label>
                 </div>

                 <div class="input-field col l3 m4 s6 valign">
                 {{#if check_male}}
                   <div class="col l6 m6 s6 valign">
                     <p><input class ="with-gap right" type="radio" name="gender" value="male" id="male" checked/>
                     <label for="male">Male </label></p>
                   </div>
                     <div class="col l6 m6 s6 valign">
                     <p><input class ="with-gap right" type="radio" name="gender" value="female" id="female"/>
                     <label for="female">Female </label></p>
                   </div>
                   {{else}}
                   {{#if check_female}}
                   <div class="col l6 m6 s6 valign">
                     <p><input class ="with-gap right" type="radio" name="gender" value="male" id="male"/>
                     <label for="male">Male </label></p>
                   </div>
                    <div class="col l6 m6 s6 valign">
                     <p><input class ="with-gap right" type="radio" name="gender" value="female" id="female" chceked/>
                     <label for="female">Female </label></p>
                   </div>
                   {{else}}
                   <div class="col l6 m6 s6 valign">
                     <p><input class ="with-gap right" type="radio" name="gender" value="male" id="male"/>
                     <label for="male">Male </label></p>
                   </div>
                     <div class="col l6 m6 s6 valign">
                     <p><input class ="with-gap right" type="radio" name="gender" value="female" id="female"/>
                     <label for="female">Female </label></p>
                   </div>
                   {{/if}}
                   {{/if}}
                  </div>
                  </div>
                 <div class="row col l12 m12 s12 valign">
                <div class="input-field col l2 m4 s6 offset-l3 valign">
                  <select class="material_select" id="mobile_country">
                    <option value="{{get_foodie_profile.mobile_dial_code}}" selected>{{get_foodie_profile.mobile_dial_code}}</option>
                    {{#each country_list}}
                    <option value='{{name}} {{dial_code}}'>{{name}} {{dial_code}}</option>
                       {{/each}}
                   </select>
                 </div>
                 <div class="input-field col l3 m4 s6 valign">
                   <input id="mobile" name="mobile" type="text" value={{get_foodie_profile.mobile}}>
                   <label class="active" for="mobile">mobile</label>
                 </div>
                 </div>

              <div class="row col l12 m6 s6 valign">
                <div class="text-field col l3 m6 s6 valign">
                  <h6>Delivery Address</h6>
                </div>

                <div class="input-field col l7 m10 s12 valign">
                  <input id="edit_home_address" name="edit_home_address" type="text" value={{get_foodie_profile.home_address}}>
                  <label for="edit_home_address" class="active">Home Address</label>

                  </div>
                  <div class="input-field col l2 m2 s6 valign">
                    <select class="material_select" id="home_address_country">
                      <option value={{get_foodie_profile.home_address_country}} selected>{{get_foodie_profile.home_address_country}}</option>
                      {{#each country_list}}
                      <option value={{name}}>{{name}}</option>
                      {{/each}}
                      </select>
                    </div>
                </div>


                <div class="row col l12 m6 s6 valign">
                  <div class="input-field col l7 m10 s12 offset-l3 valign">
                    <input id="edit_office_address" name="edit_office_address" type="text" value="{{get_foodie_profile.office_address}}">
                    <label for="edit_office_address" class="active">Office Address</label>
                  </div>
                    <div class="input-field col l2 m2 s6 valign">
                      <select class="material_select" id="office_address_country">
                        <option value={{get_foodie_profile.office_address_country}} selected>{{get_foodie_profile.office_address_country}}</option>
                        {{#each country_list}}
                        <option value={{name}}>{{name}}</option>
                        {{/each}}
                        </select>
                      </div>
                  </div>
          <!--     <div class="step-actions">
                  <button class="waves-effect waves-dark btn next-step">CONTINUE</button>
               </div>
            </div>
         </li>
         <li class="step">
            <div class="step-title waves-effect">Your Story</div>
            <div class="step-content"> -->

            <div class="row col l12 m6 s6 valign">
              <br>
              2 - Your info/Stroy
              <br>
            </div>
                <div class="input-field col l12 m12 s12  valign">
                  <textarea id="about_myself" class="materialize-textarea" name="about_myself" type="text" data-length="500" value="{{get_foodie_profile.about_myself}}"></textarea>
                  <label for="about_myself" class="active">Write a paragraph about yourself</label>
                  </div>

      <!--         <div class="step-actions">
                  <button class="waves-effect waves-dark btn next-step">CONTINUE</button>
                  <button class="waves-effect waves-dark btn-flat previous-step">BACK</button>
               </div>
            </div>
         </li>
         <li class="step">
            <div class="step-title waves-effect">Allergies</div>
            <div class="step-content"> -->

            <div class="row col l12 m6 s6 valign">
              <br>
              3 - Your major allergies and dietary preferences
              <br>
            </div>
              <div class ="row l12 valign">
                <div class="text-field col l3 m3 s6 valign">
              <h6>Major food allergies</h6>
              </div>
              <div class="col l9 m9 s12 valign">
              {{> food_allergies}}
              </div>
            </div>

    <!--           <div class="step-actions">
                 <button class="waves-effect waves-dark btn next-step">CONTINUE</button>
                 <button class="waves-effect waves-dark btn-flat previous-step">BACK</button>
               </div>
            </div>
         </li>
         <li class="step">
            <div class="step-title waves-effect">Perferences</div>
            <div class="step-content">-->
              <div class ="row l12 m6 s6 valign">
                <div class="text-field col l3 m3 s6 valign">
                  <h6>Dietary preferences</h6>
                  </div>
                <div class="col l9 m9 s12 valign">
                  {{> dietary_preferences}}
                  </div>
                </div>

          <!--     <div class="step-actions">-->
                 <button id="edit_foodie_profile_button" class="waves-effect waves-dark btn" type=button>SUBMIT</button>
                 <br>
                 <br>
                 <br>
      <!--         </div>
            </div>
         </li>
      </ul> -->
    </div>
  </form>
  {{/with}}
</template>





<template name = "edit_homecook_profile">
{{#with get_homecook_profile}}
  <form class ="edit_homecook_profile col l12 m12 s12" id="edit_homecook_profile">
    {{>profile_banner}}
    <div class = "container">
  <!--    <ul id='edit_homecook_stepper' class="stepper horizontal" style="min-height:600px">
         <li class="step active">
            <div data-step-label="For internal only" class="step-title waves-effect">Kitchen Details</div>
            <div class="step-content"> -->

            <div class="row col l12 m6 s6 valign">
              <br>
              1 - Kitchen details
              <br>
            </div>
              <div class="row col l12 m12 s6 valign">
                <div class="text-field col l3 m12 s12 valign">
                  <h6>Kitchen Details</h6>
                </div>
                <div class="input-field col l5 m6 s12 valign">
                  <input id="kitchen_name" name="kitchen_name" type="text" value="{{get_homecook_profile.kitchen_name}}">
                    <label class="active" for="kitchen_name">kitchen name</label>
                  </div>

                  <div class="input-field col l4 m6 s12 valign">
                    <input id="chef_name" name="chef_name" type="text" value="{{get_homecook_profile.chef_name}}">
                    <label class="active" for="chef_name">chef name</label>
                  </div>


                </div>
              <div class="row col l12 valign">
                <div class="text-field col l3 m12 s6 valign">
                  <h6>Kitchen Address</h6>
                </div>

                <div class="input-field col l6 m9 s12 valign">
                  <input id="kitchen_address" name="kitchen_address" type="text" value="{{get_homecook_profile.kitchen_address}}">
                  <label class="active" for="kitchen_address">kitchen address</label>
                  </div>
                  <div class="input-field col l3 m3 s6 valign">
                    <select class="material_select" id="kitchen_address_country">
                      <option value={{get_homecook_profile.kitchen_address_country}} selected>{{get_homecook_profile.kitchen_address_country}}</option>
                      {{#each country_list}}
                      <option value="{{name}}">{{name}}</option>
                      {{/each}}
                      </select>
                    </div>
                </div>

                <div class="row col l12 m12 s12 valign">
                  <div class='text-field col l3 m3 s12 valign'>
                    <h6>Kitchen Contact</h6>
                  </div>
               <div class="input-field col l2 m3 s12 valign">
                 <select class="material_select" id="kitchen_contact_country">
                   <option value={{get_homecook_profile.kitchen_contact_country}} selected>{{get_homecook_profile.kitchen_contact_country}}</option>
                      {{#each country_list}}
                    <option value='{{name}} {{dial_code}}'>{{name}} {{dial_code}}</option>
                      {{/each}}
                  </select>
                </div>
                <div class="input-field col l4 m6 s12 valign">
                  <input id="kitchen_contact" name="kitchen_contact" type="text" value="{{get_homecook_profile.kitchen_contact}}">
                  <label class="active" for="kitchen_contact">kitchen contact</label>
                </div>
                </div>

                <div class="row col l12 m12 s12 valign">
                  <div class='text-field col l3 m3 s12 valign'>
                    <h6>Serving Options</h6>
                  </div>
                  <div class = "col l9 m12 s12">
                    {{> serving_option}}
                  </div>
                </div>


    <!--           <div class="step-actions">
                  <button class="waves-effect waves-dark btn next-step">CONTINUE</button>
               </div>
            </div>
         </li>
         <li class="step">
            <div class="step-title waves-effect">Cooking Journey</div>
            <div class="step-content"> -->
            <div class="row col l12 m6 s6 valign">
              <br>
              2 - Your cooking journey
              <br>
            </div>
              <div class='text-field col l3 m6 s6 valign'>
                <h6>Chef Cooking Experience</h6>
              </div>
              <div class="input-field col l12 m12 s12 valign">
                <textarea id="cooking_exp" class="materialize-textarea" name="cooking_exp" type="text" data-length="500" value='{{get_homecook_profile.cooking_exp}}'></textarea>
                <label class="active" for="cooking_exp">Let us know your cooking experience! (Optional)</label>
                </div>

                <div class='text-field col l3 m6 s6 valign'>
                  <h6>Chef Cooking Story</h6>
                </div>
                <div class="input-field col l12 m12 s12 valign">
                  <textarea id="cooking_story" class="materialize-textarea" name="cooking_story" type="text" data-length="500" value='{{get_homecook_profile.cooking_story}}'></textarea>
                  <label class="active" for="cooking_story">Let us know your story about cooking! (Optional)</label>
                  </div>


  <!--             <div class="step-actions">
                  <button class="waves-effect waves-dark btn next-step">CONTINUE</button>
                  <button class="waves-effect waves-dark btn-flat previous-step">BACK</button>
               </div>
            </div>
         </li>

         <li class="step">
            <div class="step-title waves-effect">Your Kitchen</div>
            <div class="step-content">-->
            <div class="row col l12 m6 s6 valign">
              <br>
              3 - Your kitchen characteristics
              <br>
            </div>
              <div class='text-field col l3 m6 s6 valign'>
                <h6>Speciality</h6>
              </div>
              <div id='kitchen_speciality' class="chips chips-initial"></div>

                <div class='text-field col l3 m6 s6 valign'>
                  <h6>Tags about your place</h6>
                </div>
                <div id='kitchen_tags' class="chips chips-initial"></div>


                <div class='text-field col l3 m6 s6 valign'>
                  <h6>House rules</h6>
                </div>
                <div class="input-field col l12 m12 s12 valign">
                  <textarea id="house_rule" class="materialize-textarea" name="house_rule" type="text" data-length="500" value='{{get_homecook_profile.house_rule}}'></textarea>
                  <label class='active' for="house_rule">Any House rules?</label>
                  </div>

        <!--       <div class="step-actions"> -->
                  <br>
                 <button id="edit_homecook_button" class="waves-effect waves-dark btn" type="button">SUBMIT</button>
                 <br><br><br>
        <!--       </div>
            </div>
         </li>
      </ul>-->
    </div>
  </form>
  {{/with}}
</template>
