<template name="foodie_profile_card" id="foodie_profile_card">

    <div class = "profile_banner_area valign-wrapper" style="background-image: url(/profile_upload/{{profile_images 'banner_picture'}})">
      <div class = "container col l12 m6 s6 valign">
        <div class = "center-align">
          <img class="circle" height="125" src="/profile_upload/{{profile_images 'profile_picture'}}" />
          <br>
          <div class="col l12 m4 s4 valign">
            <h6 class = "grey-text center-align">{{currentUser.profile.name}}</h6>
          </div>
          <div class="col l12 m4 s4 valign">
            <p class = "grey-text center-align">{{profile_details.profile_keywords}}</p>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class = "container">
      <p class ="grey-text text-darken-2">{{profile_details.about_myself}}</p>
    <br>
    <h6>Created dishes</h6>
    <br>
    <div class="row">
    {{#each created_dishes}}
    {{>dishes_rotation}}
    {{/each}}
  </div>
    <br>

    {{>profile_created_menus}}

    <br>

    <br>

    {{>profile_recently_exploered}}

    <br>

    </div>

</template>





<template name="profile_created_dishes">
<h6>Created dishes</h6>
<p class ="grey-text text-darken-2">{{dishes.dish_name}}</p>
</template>


<template name="profile_created_menus">
<h6>Created menus</h6>

</template>

<template name="profile_recently_exploered">
<h6>Explored goodies</h6>

</template>
