<template name="foodie_profile_card" id="profile_card">
    <div class = "profile_banner-area valign-wrapper">

      <div class = "container valign">
      <div class = "profile_circle_base" >

        <div class = "profile_image_upload">
            <label for = "profile_file_input">
                <img class="profile_icon_img_upload" src="/profile_upload/{{profile_images "profile_picture"}}" />
            </label>

        </div>
        </div>
      <br>
     <div class="col l12 m4 s4 valign">
       <h6 class = "white-text center-align">{{profile_details.first_name}} {{profile_details.last_name}}</h6>
    </div>

    <div class="col l6 m4 s4 valign">
      <p class = "white-text center-align">{{profile_details.profile_keywords}}</p>
      <p class = "white-text center-align">{{get_profile_images_name}}</p>
    </div>


    </div>
  </div>
    <br>

    <br>
    <div class = "container">
      <p class ="grey-text text-darken-2">{{profile_details.about_myself}}</p>
    <br>




    <h6>Created dishes</h6>
    <br>
    <div class="row">
    {{#each created_dishes}}
    {{>dishes_rotation}}
    {{/each}}
  </div>


    <br>

    {{>profile_created_menus}}

    <br>

    <br>

    {{>profile_recently_exploered}}

    <br>

    </div>

</template>





<template name="profile_created_dishes">
<h6>Created dishes</h6>
<p class ="grey-text text-darken-2">{{dishes.dish_name}}</p>
</template>


<template name="profile_created_menus">
<h6>Created menus</h6>

</template>

<template name="profile_recently_exploered">
<h6>Explored goodies</h6>

</template>
