nav {
  height: 64px;
}

.navbar-fixed {
  height: 64px;
}

.nvarbar-fixed li {
  height: 40px !important;
}

.navbar_logo {
  margin-right: 44px;
}

.nav-wrapper{
  height: 64px;
  padding:12px;
}

.nav_brand_logo {
  height: 40px;
}

.search_bar > div {
  height: 40px;
}

.search_bar_icons {
  margin: 8px 12px 22px 12px;
}

.search_bar {
  margin-left: 12px;
  margin-right: 12px;
}

.logo_wrapper {
   border-radius: 50%;
   width: 40px;
   height: 40px;
   background-size:cover;
   background-repeat: no-repeat;
   background-position: center center;
   z-index:1;
   top: -13px;
   margin: 0px !important;
}

.profile_shopping_wrapper {
  display: inline-block;
  padding-right: 12px;
  position: absolute;
  right: 62px;
}

.shopping_cart_wrapper {
  padding: 0px;
  height: 40px;
  width: 85px;
}

.profile_icon_wrapper {
  height: 40px;
  width: 40px;
  display: inline-block;
  position: absolute;
  top: 11px;
  right: 12px;
}

.cart_no{
  width: 37px;
  height: 37px;
  background-color: black;
  border-radius:50%;
  z-index:2;
  line-height: 40px;
  position: relative;
  top: -13px;
  right: 24px;
  display: inline-block;
}

.cooking_navbar {
  position: absolute;
  top: 0px;
  left: 80px;
  height: 40px !important;
}

ul.right .icon {
  margin: 0px 10px;
  cursor: pointer;
}

#cart-number {
  position: absolute;
  color: #7f7f7f;
  top: 7px;
  margin-left: 7px;
  font-weight: 500;
}

.sidebar-container li {
  display: block;
  padding: 15px 20px;
  height: 55px;
  position: relative;
  cursor: pointer;
}

.sidebar-container li img {
  float: right;
  width: 24px;
  height: 21px;
}

.sidebar-container .divider {
  width: 100%;
  height: 2px;
  background: none;
  border-top: 1px solid #ccc;
}

#cart-number-sidebar {
  position: absolute;
  right: 27px;
  margin-top: 1px;
  color: #838383;
  font-weight: 400;
}

.search-page-container {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 9999;
  background-color: #fff;
}

.search-form input {
  background-repeat: no-repeat!important;
  background-position: 0px!important;
  padding-left: 40px!important;
  box-sizing: border-box!important;
}

.search-form #location {
  background: url('/navbar/location-icon.svg');
}

.search-form #date {
  background: url('/navbar/date-icon.svg');
}

.search-form #time {
  background: url('/navbar/clock-icon.svg');
}

.multi-select .selected-options {
  border: none!important;
  border-bottom: 1px solid #9e9e9e!important;
  border-radius: 0px!important;
  height: 30px!important;
  background: url('/navbar/service-option-icon.svg');
  background-repeat: no-repeat;
}

.multi-select .arrow {
  float: right!important;
  width: 15px!important;
}

.selected-options-badges-list  {
  margin-top: -20px!important;
  padding-left: 30px!important;
}

#search-btn {
  text-align: center;
  background-color: #56AACD;
  color: #fff;
  -webkit-appearance: none;
  border: none;
  padding: 5px 30px;
  border-radius: 20px;
  font-size: 18px;
}