nav{
  height: 90px;
}

.navbar-fixed {
  position: fixed;

    height: 90px;

}

.navbar_logo {
  margin-top: 25px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 25px;
}

.nav-wrapper{
  position: fixed;

  height: 90px;

}


.nav_search_bar {
  margin-top:  20px;


}
