<!-- New Navbar-->
<template name="bp_navbar">
<div class="navbar-fixed ">
  <nav class="nav-wrapper white z-depth-0 ">
      <!--Logo-->

      <div class='row col l12 m12 s12'>
        <div class="col l1 m1 s1">
      <a href="" class ='nav_brand_logo left' data-activates="chatbot_nav"><img src="navbar/BPLogo_sysmbol.svg" class='navbar_logo' height="40" width="40"></a>
    </div>
           <!--Search Bar-->

        <div class="nav_search_bar col l4 m4 s4" id="nav_sarch">
          <div class="input-field grey-text col l6 m6 s6">
            <i class="grey-text prefix"><img src="/navbar/search.svg"/></i>
            <select class='material_select' id='by_place'>
              <option value='' id="default_location">Location</option>
              {{#each location_option_list}}
                <option value={{option}} id={{id}}>{{location_option}}</option>
              {{/each}}
            </select>
          </div>

          <div class="input-field grey-text col l6 m6 s6">
            <i class="grey-text prefix"><img src="/navbar/Option.svg"/></i>
            <select class=“material_select” id='by_method'>
              <option value=''>Option</option>
              {{#each service_option_list}}
                <option value={{option}}>{{service_option}}</option>
              {{/each}}
            </select>
          </div>

      <!--    <div class="input-field grey-text col l3 m2 s2">
            <i class="grey-text prefix"><img src="/navbar/Date.svg"/></i>
            <div class="textbox_adj">
            <input class='timepicker' type='time' placeholder='Time' id='by_time'/>
            </div>
            </div>


          <div class="input-field grey-text col l3 m2 s2">
            <i class="grey-text prefix"><img src="/navbar/Date.svg"/></i>
            <div class="textbox_adj">
            <input class='datepicker' type='text' placeholder='Date' id='by_date'/>
            </div>
          </div> -->
    </div>
<!--Example
        <li><a href="mobile.html"><i class="material-icons">more_vert</i></a></li> -->


          <div class='col l3 m0 s0'>
          </div>
          <div class='start_cooking col l2 m1 s1'>
            <div class='right'>
          <a href="start_cooking"><span class='badge navbar_logo'>Start Cooking</span></a>
          </div>
        </div>
          <div class="shopping_cart col l1 m1 s1">
            <div class='right'>
        <a href="shopping_cart">
          <span class='white-text'>
              <img class="navbar_logo logo_wrapper" style="background-image:url(/navbar/OrderDish_32px.svg)"/>
            <div class='cart_no navbar_logo logo_wrapper center'>
              {{check_shopping_cart}}
            </div>
          </span>
        </a>
      </div>
      </div>

      <div class="col l1 m1 s1">
        <div class='right'>
        <a class="dropdown-button" href="" data-activates="profile_dropdown">
          {{#if profile_images 'profile_picture' 'own_user'}}
            <img class="circle logo_wrapper navbar_profile_logo" style="background-image:url(/profile_upload/{{profile_images 'profile_picture' 'own_user'}})"/>
          {{else}}
            <img src="/profile_upload/user.jpg" class="circle navbar_logo" height='40'/>
            {{/if}}
          </a>
          </div>
          </div>
        </div>
    </nav>
</div>

  <!--Dropdown setting for the navbar-->
  <ul id="profile_dropdown" class="dropdown-content" style="height:100%">
    <li><a href="" id="profile_link"><i class="material-icons">person</i>Profile</a></li>
    <li class="divider"></li>
      <li><a href="" id="all_link"><i class="material-icons">local_pizza</i>I wanna eat</a></li>
        <!-- <li><a href="#!" style = "margin-left: 48px;">Current status</a></li> -->
        <!-- <li><a href="#!" style = "margin-left: 48px;">Dish confirmation</a></li> -->
        <!-- <li><a href="#!" style = "margin-left: 48px;">Payment</a></li> -->
        <!-- <li><a href="#!" style = "margin-left: 48px;">Review</a></li> -->
      <li><a href="" id="i_wanna_cook"><i class="material-icons">restaurant</i>I wanna cook</a></li>
    <li class="divider"></li>
      <!-- <li><a href="#!"><i class="material-icons">people</i>Network</a></li> -->
      <!-- <li><a href="#!"><i class="material-icons">chat</i>Chat</a></li> -->
      <li><a href="" id="settings_link"><i class="material-icons">settings</i>Settings</a></li>
      <li><a href="" id="logout_link"><i class="material-icons">exit_to_app</i>Log out</a></li>
  </ul>

  <!--Dropdown setting for the slidenav-->
  <ul id="chatbot_nav" class="side-nav">
      {{>msgDialog_content}}
  </ul>

</template>
