<!-- New Navbar-->
<template name="bp_navbar">
<div class="navbar-fixed z-depth-0">
  <nav class = "z-depth-0">
    <div class="nav-wrapper white z-depth-0">
      <!--Logo-->
      <a href="" class ='nav_brand_logo left' data-activates="chatbot_nav"><img src="navbar/BPLogo_sysmbol.svg" class='navbar_logo' height="40" width="40"></a>
      <!--Search Bar-->
      <div class = "navbar_options_wrapper col l12 m12 s12">
        <ul class="nav_search_bar" id="nav_sarch">
          <li class="input-field grey-text search_bar">
            <i class="grey-text prefix"><img class = "search_bar_icons" src="/navbar/search.svg"/></i>
            <select class='material_select' id='by_place'>
              <option value='' id="default_location">Location</option>
              {{#each location_option_list}}
                <option value={{option}} id={{id}}>{{location_option}}</option>
              {{/each}}
            </select>
          </li>
          <li class="input-field grey-text search_bar">
            <i class="grey-text prefix "><img class = "search_bar_icons" src="/navbar/Option.svg"/></i>
            <select class=“material_select” id='by_method'>
              <option value=''>Option</option>
              {{#each service_option_list}}
                <option value={{option}}>{{service_option}}</option>
              {{/each}}
            </select>
          </li>
        </ul>
      </div>

      <ul class='right profile_shopping_wrapper'>
        <li>
          <a class = "shopping_cart_wrapper" href="shopping_cart">
            <img class="logo_wrapper" style="background-image:url(/navbar/OrderDish_32px.svg)"/>
            <div class='cart_no center'>
              {{check_shopping_cart}}
            </div>
          </a>
        </li>
        <li class = "profile_icon_wrapper">
          {{#if profile_images 'profile_picture' 'own_user'}}
            <a class="btn-floating dropdown-button logo_wrapper navbar_profile_logo" href="" data-activates="profile_dropdown" style="background-image:url(/profile_upload/{{profile_images 'profile_picture' 'own_user'}})"></a>
          {{else}}
            <a class="btn-floating dropdown-button logo_wrapper navbar_profile_logo" href="" data-activates="profile_dropdown" style="background-image:url(/profile_upload/user.jpg)"></a>
          {{/if}}
        </li>
      </ul>
    </div>
  </nav>
</div>

<!--Dropdown setting for the navbar-->
<ul id="profile_dropdown" class="dropdown-content" style="height:100%">
  <li><a href="" id="profile_link"><i class="material-icons">person</i>Profile</a></li>
  <li class="divider"></li>
  <li><a href="" id="all_link"><i class="material-icons">local_pizza</i>I wanna eat</a></li>
  <li><a href="" id="i_wanna_cook"><i class="material-icons">restaurant</i>I wanna cook</a></li>
  <li class="divider"></li>
  <li><a href="" id="settings_link"><i class="material-icons">settings</i>Settings</a></li>
  <li><a href="" id="logout_link"><i class="material-icons">exit_to_app</i>Log out</a></li>
</ul>

<!--Dropdown setting for the slidenav-->
<ul id="chatbot_nav" class="side-nav">
  {{>msgDialog_content}}
</ul>

</template>
