<!-- New Navbar-->
<template name="bp_navbar">
<div class="navbar-fixed">
  <nav class="nav-wrapper white">

      <!--Logo-->
      <div class='row'>

      <a href="#" class ='nav_brand_logo left' data-activates="chatbot_nav"><img src="navbar/BPLogo_sysmbol.svg" class='navbar_logo' height="40" width="40"></a>

           <!--Search Bar-->

        <form class="nav_search_bar col l6">
            <div class="input-field black-text col l4 m2 s2">
              <i class="grey-text prefix"><img src="/navbar/search.svg"/></i>
              <select class=“material_select” id=“search_by_place”>
                <option value=“” disabled selected>LOCATION</option>
                {{#each location_option_list}}
                <option value=“{{option}}“>{{location_option}}</option>
                {{/each}}
              </select>
              </div>

            <div class="input-field black-text col l4 m2 s2">
              <i class="grey-text prefix"><img src="/navbar/Date.svg"/></i>
              <select class=“material_select” id=“search_by_time”>
                <option value=“” disabled selected>SERVING TIME</option>
                {{#each time_option_list}}
                <option value=“{{option}}“>{{time_option}}</option>
                {{/each}}
              </select>
              </div>


              <div class="input-field black-text col l4 m2 s2">
                <i class="grey-text prefix"><img src="/navbar/Option.svg"/></i>
                <select class=“material_select” id=“search_by_method”>
                  <option value=“” disabled selected>SERVING OPTION</option>
                  {{#each service_option_list}}
                  <option value=“{{option}}“>{{service_option}}</option>
                  {{/each}}
                </select>
                </div>


        </form>




<!--Example
        <li><a href="mobile.html"><i class="material-icons">more_vert</i></a></li>
      -->



      <div class='right'>
        <a href="shopping_cart" ><img src='/navbar/OrderDish.svg' height="40" class='navbar_logo'/></a>
        <a class="dropdown-button" href="#!" data-activates="profile_dropdown">

            <img src="/msgDialog/user.jpg" class="circle navbar_logo" height='40'/></a>
          </div>
        </div>
    </nav>
  </div>


<!--Dropdown setting for the navbar-->
    <ul id="profile_dropdown" class="dropdown-content">
  <li><a href="#!"><h6>

      <img src="/msgDialog/user.jpg" class="circle" height="24"/>

    Profile
  </h6></a></li>
  <li class="divider"></li>
  <li><a> I am Hungry<br>
   Current Status</a></li>
  <li><a><h6> Dish Confirmation</h6></a></li>
  <li><a><h6> Payment</h6></a></li>
  <li><a><h6> Review</h6></a></li>
  <li><a><h6> Make Dish</h6></a></li>
  <li class="divider"></li>
  <li><a><h6> Network</h6></a></li>
  <li><a><h6> Chat</h6></a></li>
  <li><a><h6> Settings</h6></a></li>
  <li><a href="#!"><h6> Log Out</h6></a></li>
</ul>


<!--Dropdown setting for the slidenav-->
<ul id="chatbot_nav" class="side-nav">
    {{>msgDialog_content}}
</ul>


<ul id="service_option" class="dropdown-content">
  <li><a href="#!">Delivery</a></li>
  <li><a href="#!">Pickeup</a></li>
  <li><a href="#!">Donne In</a></li>
</ul>


</template>
