nav{
  height: 90px;
}

.navbar-fixed {
  position: fixed;

    height: 90px;

}

.navbar_logo {
  margin-top: 25px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 25px;
}

.nav-wrapper{
  position: fixed;

  height: 90px;

}


.nav_search_bar {
  margin-top:  20px;


}

.textbox_adj {
  margin-top: -10px;
  margin-left: 42px;
}
