.rating {
  padding-left: 16.5%;
  padding-bottom: 12px;
}

.display_rating {
  display: inline-block;
}

.order_count {
  display: inline-block;
}

.order_count h6 {
  position: relative;
  margin: 0px 0px 0px 3px;
  bottom: 1px;
}

#rating .current-rating {
  color: #56AACD;
}

.stars-rating .stars {
  border-color: #56AACD !important;
  background-color: #ffffff !important;
}

#rating .active {
  color: #56AACD;
}

#show_rating .current-rating {
  color: #56AACD;
}

.show_rating .current-rating {
  color: #56AACD;
}
