.rating {
  padding-left: 16.5%;
  padding-bottom: 12px;
}

.display_rating {
  display: inline-block;
}

.order_count {
  display: inline-block;
}

.order_count h6 {
  position: relative;
  margin: 0px 0px 0px 3px;
  bottom: 1px;
}

#rating .current-rating {
  color: #E57373;
}

#rating .active {
  color: #E57373;
}

#show_rating .current-rating {
  color: #E57373;
}

.show_rating .current-rating {
  color: #E57373;
}
