<head>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,700,900" rel="stylesheet" />
</head>

<template name="landing_page">
  {{> login_modal}}
  {{> signup_modal}}

  <div class="loader-wrapper">
    <div class="loader">
      <div class="loader__figure"></div>
      <p class="loader__label">loading</p>
    </div>
  </div>

  <div class="landing_1">
    <div class="row navigation">
      <div class="col s6 m6 l6">
        <img src="landing_page/logo.svg" alt="logo" class="logo">
      </div>
      <div class="col s6 m6 l6">
        <div class="col s12 m12 l12">
          <a class = "modal-trigger" href="#login_modal">
            <p class="login">log in</p>
            <img class="login_icon" src="landing_page/login_icon.svg">
          </a>
        </div>
      </div>
    </div>
    <div class="row slogan notloaded">
      <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
        <p>everyone's home chef.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
        <a class = "modal-trigger" href="#signup_modal">
          <button class="button signup">Sign up</button>
        </a>
      </div>
    </div>
  </div>

  <!-- Introduction session -->
<div class="row" style="height:100vh;">
    <div class="row" style="height:20vh;"></div>
    <div class="row" style="height:60vh;">
      <div class="col s12 m8 offset-m2 l6 offset-l3 xl4 offset-xl4 introduction">
        <p class="blueplate"> blueplate </p>
        <p class="intro_text">is a digital platform that connects a community of like minded and passionate individuals who only strive for the
          best and freshest food.</p>
        <p class="intro_text">Encouraging anyone to create and share outstanding, healthy and delicious dishes from a vast selection of ingredients
          with anyone, no matter when and where</p>
        <a class = "modal-trigger" href="#signup_modal">
          <button class=" button join_us_now"> Join us now</button>
        </a>
      </div>
    </div>
    <div class="row" style="height:20vh;"></div>
</div>


  <!-- Do you love cooking -->
  <div class="row" style="height:100vh;">
    <div class="col s12 m5 l5 xl5 left-dish" style="height:100vh;background-color:#EEF6FA;"></div>
    <div class="col s12 m7 l7 xl7" style="height:100vh;background-color:#EEF6FA;">
      <div class="row" style="height:20vh;"></div>
      <div class="row" style="height:60vh;">
        <div class="col s12 m10 l10 xl10 right_dish">
          <p class="text_1"> Do you love </p>
          <p class="text_2"> cooking?</p>
          <p classs="text_3">If you said yes, we want you to join blue plate!Become a home chef and share your signature meals and dishes with anyone,
            while earning some extra cash!</p>
          <a class = "modal-trigger" href="#signup_modal">
            <button class=" button sign_me_up" style="float: left;">sign me up</button>
          </a>
        </div>
      </div>
      <div class="row" style="height:20vh;"></div>
    </div>
  </div>

    <!-- We bring people closer together -->
<div class="row" style="height:100vh;">
  <div class="row" style="height:20vh;"></div>
  <div class="row" style="height:60vh;">
      <!-- fist text -->
    <div class="row">
      <div class="col s12 m12 l12 xl12">
        <p style="
      font-size: 24px;
      color: #EA6055;
      font-weight: 550;
      text-align: center;
      margin-right: 20px;
      margin-left: 20px;
      ">We bring people closer together,</p>
      </div>
    </div>

      <!-- for 3 icon -->

  <div class="row container">
    <div class="col s12 m4">
      <div class="col s12 red-container" style="text-align: center;">
        <img class="red_icon harvest" src="landing_page/red1.svg" alt="red1">
        <p class="red_text">from harvest,</p>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="col s12 red-container" style="text-align: center;">
        <img class="red_icon kitchen" src="landing_page/red2.svg" alt="red1">
        <p class="red_text">to kitchen,</p>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="col s12 red-container" style="text-align: center;">
        <img class="red_icon table" src="landing_page/red3.svg" alt="red1">
        <p class="red_text">to table</p>
      </div>
    </div>
  </div>
        <!-- for the text -->

  <div class="row">
    <div class="col s12 m6 offset-m3 l6 offset-l3 xl6 offset-xl3">
      <p class="content">Join our community of suppliers, home chefs and foodies, and share all your favourite food</p>
    </div>
  </div>

    <!-- for the buttom -->
    <div class="row">
      <div class="col s12 m12 l12" style="text-align: center">
        <a class = "modal-trigger" href="#signup_modal">
          <button class=" button start_cooking">start cooking</button>
        </a>
      </div>
    </div>
  </div>
<div class="row" style="height:20vh;"></div>
</div>

  <!-- Changing the way -->
  <div class="row" style="margin-bottom: 0px;">
    <div class="vet_photo col s12">
      <p class="changing">
        changing the way we obtain food.
      </p>
    </div>
  </div>

  <!-- for babana -->
  <div class="row what_happen" style="margin-bottom:0px;">
    <div class="banana col s12 m5 l5 xl5"></div>
    <div class="col s12 m7 l7 xl7">
      <div class="row invisible" style="height:33vh"></div>
      <div class="row" style="margin-left: 50px;margin-right: 50px;">
        <div class="col s12 m12 l12 xl12">
          <p class="title">What’s happening to our food?</p>
          <p class="detail">Currently, the world is producing more food than ever. With more food being wasted than consumed. Around 50% of
            our food goes to waste, that’s almost half of the food we eat! And, most of the nutrients we thought we can consume
            from food is actually gone!</p>
        </div>
      </div>
    </div>
  </div>

  <!-- for the genery -->

  <div class="row why_is_there" style="margin-bottom:0;">
    <div class=" wall col s12 m5 l5 xl5"></div>
    <div class="col s12 m7 l7 xl7">
      <div class="row invisible" style="height:25vh"></div>
      <div class="row" style="margin-left: 50px;margin-right: 50px;">
        <div class="col s12 m12 l12 xl12">
          <p class="title">Why is there so much waste?</p>
          <p class="detail" style="margin-bottom:30px;">We all know part of the food waste is created from food consumption. But, food is also wasted through out the process
            in the current supply chain system from farm to table. In this globalised world, food transports much further
            than ever before, and there are more and more middlemen involved in the process. Food is wasted when travelling
            and changing hands. Hence, the further the distance travel and the more the food is changing hands, food waste
            is inevitably increased dramatically.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- for the fesh vetgetable -->

  <div class="row why_is_this" style="margin-bottom:0;">
    <div class=" green col s12 m5 l5 xl5"></div>
    <div class="col s12 m7 l7 xl7">
      <div class="row invisible" style="height:20vh"></div>
      <div class="row" style="margin-left: 50px;margin-right: 50px;">
        <div class="col s12 m12 l12 xl12">
          <p class="title">Why is this matter to us?</p>
          <p class="detail" style="margin-bottom:10px;">With more food is being wasted, we have to produce more food to sustain. By 2025 we are going to run out of farm
            lands on Earth to upkeep the demand. And, we have to pay more and more for food everyday because food production
            cost increases as we waste more food and make the supply chain even more complicated.</p>
          <p class="detail">Food is stored a long time and transported a long distance before it gets to your hand nowadays, but nutrients
            are lost along the way. So, too bad, what you are eating is not as nutritious as you thought.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- for the hamberger -->
  <div class="row how_can_we" style="margin-bottom:0;">
    <div class=" her col s12 m5 l5 xl5"></div>
    <div class="col s12 m7 l7 xl7">
      <div class="row invisible" style="height:20vh"></div>
      <div class="row" style="margin-left: 50px;margin-right: 50px;">
        <div class="col s12 m12 l12 xl12">
          <p class="title">How can we change that?</p>
          <p class="detail" style="margin-bottom:10px;">Blueplate connects the world of foodies, home chefs and suppliers. Using one platform to easily allow all to communicate,
            share and access the best food in the most sustainable way, breaking down the traditional way of how we acquire
            food into a collaborative ecosystem and community.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- this is for the hand -->
  <div class="row join_us" style="margin-bottom:20px;">
    <div class=" hand col s12 m5 l5 xl5"></div>
    <div class="col s12 m7 l7 xl7">
      <div class="row invisible" style="height:20vh"></div>
      <div class="row" style="margin-left: 50px;margin-right: 50px;">
        <div class="col s12 m12 l12 xl12">
          <p class="title" style="margin-top: 40px;margin-bottom: 40px;">Join us in creating a greener, better and healthier world.</p>
          <a class = "modal-trigger" href="#signup_modal">
            <button class="button i_am_ready">i'm ready</button>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- this is for organge session -->


    <!-- whole organge session -->
    <div class="row valign-wrapper" style="height:30vh">
      <!-- whole top -->
      <div class=" col s3 m2 l2 xl1">
        <img class="org_icon" src="landing_page/Org1.svg" style="width:90px;margin-left: 30px;">
      </div>
      <div class=" col s9 m10 l10 xl11">
        <p style="
            font-size: 28px;
            color: #EEAB21;
            font-weight: 550;
            text-align: left;
            margin-right: 20px;
            margin-left: 0px;
            padding-left: 0;
            margin-bottom: 0px;
      ">becoming a home chef is easy.</p>
        <!-- for upper 600px -->
        <p class="detail upper">join us at blueplate and share your delicious food right at your own kitchen.</p>
      </div>
    </div>
    <!-- for under 600px -->
    <div class="row" style="margin-bottom:0px;">
      <div class="col s12">
        <p class="detail under" style="margin-bottom:0px;">join us at blueplate and share your delicious food right at your own kitchen.</p>
      </div>
    </div>


  <!-- for 3 steps -->

  <div class="row container" style="height:50vh">

    <div class="col s12 m4 l4 wrapper">
      <span class="number">1</span>
      <p class="org_title">Simply click to sign up!</p>
      <p class="detail org_content">Just enter your information and details. Then you will have registered yourself as our partner in the system.</p>
    </div>



    <div class="col s12 m4 l4 wrapper">
      <span class="number">2</span>
      <p class="org_title">Get verified!</p>
      <p class="detail org_content">For food safety, we might need you to profile some proof of your delicious dishes</p>
    </div>


    <div class="col s12 m4 l4 wrapper">
      <span class="number">3</span>
      <p class="org_title">Start setting up!</p>
      <p class="detail org_content">Once you have signed up, start writing up your specials, customizing your chef page and await your order to flow in!</p>
    </div>

  </div>
  <div class="row container" style="height:20vh"></div>


  <!-- Are you ready to start cooking -->

  <div class="row bow">
    <div class="col s12">
      <div class="row">
        <div class="col s10 offset-s1 m10 offset-m1 l8 offset-l1 xl11 offset-xl1">
          <p class="changing last_call"> Are you ready to start cooking?</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <a class = "modal-trigger" href="#signup_modal">
            <button class=" button sign_me_up start_now" style="margin-right:0px;">start now</button>
          </a>
        </div>
      </div>
    </div>
  </div>

</template>
