<head>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,700,900" rel="stylesheet" />
</head>

<template name="landing_page">
  <header>
    <div class = "navbar-fixed">
      <nav class ="transparent z-depth-0">
        <div class="nav-wrapper">
          <a href="#!" class="brand-logo"><img src="https://s3-ap-southeast-1.amazonaws.com/blueplate-images/icons/logo.svg" alt="logo" class="logo"></a>
          <ul class="right">
            <li>
              <a class = "modal-trigger" href="#login_modal">
                <img class="login_icon" src="https://s3-ap-southeast-1.amazonaws.com/blueplate-images/icons/login_icon_new.svg">
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>

  {{> login_modal}}
  {{> signup_modal}}

  <div class="loader-wrapper">
    <div class="loader">
      <div class="loader__figure"></div>
      <p class="loader__label">loading</p>
    </div>
  </div>

  <div class="landing_1">
    <div class="row navigation">
      <!--
      <div class="col s6 m6 l6">
        <img src="https://s3-ap-southeast-1.amazonaws.com/blueplate-images/icons/logo.svg" alt="logo" class="logo">
      </div>
      <div class="col s6 m6 l6">
        <div class="col s12 m12 l12">
          <a class = "modal-trigger" href="#login_modal">
            <img class="login_icon" src="https://s3-ap-southeast-1.amazonaws.com/blueplate-images/icons/login_icon.svg">
          </a>
        </div>
      </div>
    -->
    </div>
    <div class="row slogan notloaded">
      <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
        <p>everyone's home chef.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
        <a class = "modal-trigger" href="#signup_modal">
          <button class="button chef_signup signup">Sign up</button>
        </a>
      </div>
    </div>
  </div>

  <!-- Introduction session -->
<div class = "introduction_wrapper valign-wrapper">
  <div class="row">
    <div class="valign col s12 m8 offset-m2 l6 offset-l3 xl4 offset-xl4 introduction">
      <p class="blueplate"> blueplate </p>
      <div class = "intro_text_wrapper">
        <p class="intro_text">is a digital platform that connects a community of like minded and passionate individuals who only strive for the
          best and freshest food.</p>
        <p class="intro_text">Encouraging anyone to create and share outstanding, healthy and delicious dishes from a vast selection of ingredients
          with anyone, no matter when and where</p>
      </div>
      <a class = "modal-trigger" href="#signup_modal">
        <button class="button chef_signup join_us_now"> Join us now</button>
      </a>
    </div>
  </div>
</div>


  <div class="row do_you_love valign-wrapper">
    <div class="col s12 m5 l5 xl5 left-dish">
    </div>
    <div class="col s12 m7 l7 xl7 valign right_dish">
      <br>
      <br>
      <br>
      <p class="text_1"> Do you love </p>
      <p class="text_2"> cooking?</p>
      <p class="text_3">If you said yes, we want you to join blue plate! Become a home chef and share your signature meals and dishes with anyone,
        while earning some extra cash!</p>
      <a class = "modal-trigger" href="#signup_modal">
        <button class="button chef_signup sign_me_up" style="float: left;">sign me up</button>
      </a>
    </div>
  </div>

  <!-- Changing the way -->
<div class="row valign-wrapper" style="height:100vh;">
  <div class="row" style="background:white;">

    <!-- title -->

      <div class="col s12 m12 l12 xl12 valign">
        <p class="we_bring">We bring people closer together,</p>
      </div>

    <!-- icon -->
      <div class="row">
        <div class="col s12 m4 l4">
          <div class="col s12" style="text-align: center;">
            <img class="red_icon harvest" src="https://s3-ap-southeast-1.amazonaws.com/blueplate-images/icons/red1.svg" alt="red1">
            <p class="red_text">from harvest,</p>
          </div>
        </div>


        <div class="col s12 m4 l4">
          <div class="col s12" style="text-align: center;">
            <img class="red_icon kitchen" src="https://s3-ap-southeast-1.amazonaws.com/blueplate-images/icons/red2.svg" alt="red1">
            <p class="red_text">to kitchen,</p>
          </div>
        </div>

        <div class="col s12 m4 l4">
          <div class="col s12" style="text-align: center;">
            <img class="red_icon table" src="https://s3-ap-southeast-1.amazonaws.com/blueplate-images/icons/red3.svg" alt="red1">
            <p class="red_text">to table</p>
          </div>
        </div>
      </div>

    <!-- texting -->
        <div class="row">
          <div class="col s12 m8 offset-m2 l10 offset-l1 xl8 offset-xl2">
            <p class="content">Join our community of suppliers, home chefs and foodies, and share all your favourite food</p>
          </div>
        </div>

        <!-- for the buttom -->

        <div class="row">
          <div class="col s12 m12 l12" style="text-align: center">
            <a class = "modal-trigger" href="#signup_modal">
              <button class="button chef_signup start_cooking">start cooking</button>
            </a>
          </div>
        </div>

  </div>
</div>

  <!-- Changing the way -->
  <div class="row changing_wrapper" style="margin-bottom: 0px;">
    <div class="vet_photo valign-wrapper col s12">
      <p class="changing">
        changing the way we obtain food.
      </p>
    </div>
  </div>

  <!-- for babana -->
  {{#each what_happen_details}}
    <div class="row what_happen" style="margin-bottom:0px;">
      <div class = "scrolling"></div>
      <div class="what_happen_image col s12 m12 l5 xl5" style="background-image:url({{background_large}});"></div>
      <div class="col s12 m12 l7 xl7 valign-wrapper content_wrapper">
        <div class="row valign-wrapper content_wrapper" style="margin-left: 50px;margin-right: 50px;">
          <div class="col s12 m12 l12 xl12">
            <p class="title">{{title}}</p>
            <br>
            <p class="detail">{{details}}</p>
          </div>
        </div>
      </div>
    </div>
  {{/each}}

  <!-- this is for the hand -->
  <div class="row join_us" style="margin-bottom:20px;">
    <div class="hand col s12 m12 l5 xl5"></div>
    <div class="col s12 m12 l7 xl7">
      <div class="row valign-wrapper join_us_content">
        <div class="col s12 m12 l12 xl12">
          <p class="title" style="margin-top: 40px;margin-bottom: 40px;">Join us in creating a greener, better and healthier world.</p>
          <a class = "modal-trigger" href="#signup_modal">
            <button class="button chef_signup i_am_ready">i'm ready</button>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- this is for organge session -->


    <!-- whole organge session -->
    <div class = "container">
  <div class="row flexible2">
      <div class="row">
        <!-- whole top -->
        <div class=" orange_col col s3 m2 l2 xl1">
          <img class="org_icon" src="https://s3-ap-southeast-1.amazonaws.com/blueplate-images/icons/Org1.svg">
        </div>
        <div class=" col s9 m10 l10 xl11">
          <p class="easy">becoming a home chef is easy.</p>
          <!-- for upper 600px -->
          <p class="detail upper" style="padding-top:15px;">join us at blueplate and share your delicious food right at your own kitchen.</p>
        </div>
      </div>
      <!-- for under 600px -->
      <div class="row" style="margin-bottom:0px;">
        <div class="col s12">
          <p class="detail under" style="margin-bottom:0px;">join us at blueplate and share your delicious food right at your own kitchen.</p>
        </div>
      </div>


    <!-- for 3 steps -->

    <div class="row">
      {{#each become_homechef}}
        <div class="col s12 m12 l4 wrapper">
          <span class="number">{{number}}</span>
          <p class="org_title">{{title}}</p>
          <p class="detail org_content">{{details}}</p>
        </div>
      {{/each}}
    </div>
  </div>
</div>

   <!-- for the bow -->
   <div class = "bow_wrapper">
    <div class="row bow valign-wrapper">
      <div class="col s12">
        <div class="row">
          <div class="col s10 offset-s1 m10 offset-m1 l8 offset-l1 xl11 offset-xl1">
            <p class="changing last_call"> Are you ready to start cooking?</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <a class = "modal-trigger" href="#signup_modal">
              <button class=" button chef_signup sign_me_up start_now" style="margin-right:0px;">start now</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

{{> footer}}
</template>
