<template name="landing_page_old">
  <div class="background">
    {{> top_wrapper}}
    {{> title_wrapper}}
    {{> login_modal}}
    {{> signup_modal}}
  </div>
  {{> footer}}
</template>

<template name = "top_wrapper">
  <div class = "navbar-fixed">
    <nav class = "transparent z-depth-0">
      <div class = "top_wrapper">
        <div class = "row">
          <div class = "col l6 left">
            <a href="" class="brand-logo"><img src ="/landing_page/blueplate_logo.svg"></a>
          </div>
          <div class = "button_wrapper col s4 m4 l2 offset-l4 right">
            {{#if isCurrentUser }}
              <a class ="waves-effect waves-red btn-flat white-text right" href="/main">LOGGED IN</a>
            {{else}}
              <a class ="waves-effect waves-red btn-flat white-text right modal-trigger" id="login_modal_button" href="#login_modal">LOG IN</a>
            {{/if}}
          </div>
        </div>
      </div>
    </nav>
  </div>
</template>

<template name ="title_wrapper">
  <div class = "title_wrapper row valign-wrapper">
    <div class = "col l8 offset-l3 center valign">
      <h2 class = "white-text left-align" style="text-shadow: 2px 2px #ff0000;">Goodbye junk food.</h2>
      <h2 class = "white-text left-align" style="text-shadow: 2px 2px #ff0000;">Hello home cooked food.</h2>
      <a class="waves-effect waves-red bp-green btn modal-trigger left" href="#signup_modal" id="foodie_signup" style = "margin-right: 12px; width: 180px;">Join us</a>
    </div>
  </div>
</template>
