<template name="landing_page">
  <body class="background">
    {{> top_wrapper}}
    {{> title_wrapper}}
  </body>
</template>

<template name = "top_wrapper">
  <div class = "navbar-fixed">
    <nav class = "transparent z-depth-0">
      <div class = "top_wrapper">
        <div class = "row">
          <div class = "col l6 left">
            <a href="#" class="brand-logo"><img src ="/landing_page/blueplate_logo.svg"></a>
          </div>
          <div class = "button_wrapper col s4 m4 l2 offset-l4 right">
            {{#if currentUser}}
              <a class ="waves-effect waves-red btn-flat white-text right" href="/msgDialog">LOGGED IN</a>
            {{else}}
              <a class ="waves-effect waves-red btn-flat white-text right" href="/login">LOG IN</a>
            {{/if}}
          </div>
        </div>
      </div>
    </nav>
  </div>
</template>

<template name ="title_wrapper">
  <div class = "title_wrapper row valign-wrapper">
    <div class = "col l8 offset-l3 center valign">
      <h2 class = "white-text left-align">Good bye junk food.</h2>
      <h2 class = "white-text left-align">Hello home cooked food.</h2>
      <a class="waves-effect waves-red red lighten-2 btn left" style = "margin-right: 12px; width: 180px;">I am hungry</a>
      <a class="waves-effect waves-red red lighten-2 btn left" style = "margin-right: 12px; width: 180px;">Make a dish</a>
    </div>
  </div>
</template>
