.background {
  height:100vh;
  width:max;
  background-image: url("/landing_page/landing_page_background.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.top_wrapper {
  margin: 16px 24px 0px 24px;
  z-index: 999999;
}

.title_wrapper {
  height: 95%;
}

.fullscreen {
  width: 100%;
  height: 100%;
}

.shadow_overlay {
  position: absolute;
  z-index: 9999;
  background-color: rgba(68, 66, 66, 0.7686274509803922);
}

.spinner-wrapper {
  background-color: #fff;
  margin: 20px;
  border-radius: 10px;
  width: 100px;
  height: 100px;
}

.center-screen {
  position: fixed;
  top: 65%;
  left: 75%;
  margin-top: -9em;
  margin-left: -15em;
  border: 1px solid #ccc;
  background-color: #f3f3f3;
}
