.background {
  height:100vh;
  width:max;
  background-image: url("/landing_page/Home.jpg");
  background-size:cover;
  background-repeat: no-repeat;
}

.top_wrapper {
  margin: 16px 24px 0px 24px;
  z-index: 999999;

}

.title_wrapper {
  height: 95%;
}
