.kitchen_card {
  width: 290px;
  display: inline-block;
  border-radius: 20px 20px 20px 20px;
}

.kitchen_card_image {
  height: 200px;
  width: 100%;
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 10px;
}

.homecook_image {
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  width: 50px !important;
  height: 50px !important;
  left: 215px;
  top: 143px;
}
