<template name = "kitchen_card">
  <div class = "card kitchen_card card_on_display">
    <div class = "card-image kitchen_card_image" style="background-image: url(/profile_upload/{{get_kitchen_image}})">
      <a class="btn-floating halfway-fab grey lighten-1 homecook_image" style="background-image: url(/profile_upload/{{get_homecook_image}})"></a>
      <span class = "card-title"></span>
    </div>
    <div class = "card-content">
      <h6 class = "black-text">{{kitchen_name}}</h6>
      <h6>3000 likes</h6>
    </div>
  </div>
</template>
