#dish_card_large {
  padding: 10px 0px 0px 20px;
  height: 450px;
  width: 685px;
}
#large_dish_display {
  height: inherit;
  width: 733px;
}
#dish_card_image {
  position: relative;
  width:45%;
}

#dishes_card_layout_img_wrapper {
  position: absolute;
  top: 60px;
  width: 300px;
  height: 300px;
}

.card-title {
  padding-left: 24px;
  padding-right: 24px;
  margin: 0px;
  line-height:50%;
  display:block;
  position:relative;
}

.card-stacked {
  width: 50vh;
}

.card-title p,h5 {
  margin-top: 0px;
}

.card-tabs {
  margin-top:5px;
  height: 120px;
  overflow: auto;
  margin-bottom: 14px;
}

.indicator {
  right:0;
}

.card-title {
  font-size: 13px;
  padding-top: 15px;
}

.card-content {
  height: 30%;
  margin-top: 0px;
  font-size: 13px;
  color: rgba(0,0,0,0.54);
}

.card-content {
  padding: 0px 24px 0px 24px;
  margin-bottom: 0px;
  display:block;
}

.card-content h5 {
  max-height: 80px;
}

.info_wrapper {
  /* margin: 0px 12px 12px 12px; */
  font-size: 13px;
  color: rgba(0,0,0,0.54);
}
.card-tabs {
  overflow-x: hidden;
  max-height: 128px;
  width: 100%;
}

.dietary_info {
  padding-left: 11px;
}

.dish_thumbnail_card {
  overflow: hidden;
  display: inline-block;
  height: 250px;
  width: 174px;
}

#thumbnail_img_wrapper {
  width: 150px;
  height: 150px;
  margin: 12px;
}

.no_display {
  height: 85%;
  width: 100%;
  display: relative;
}
#location_time_info p h6 {
  margin-left: 3px;
  margin-top: 0px;
  margin-bottom: 12px;
}

.price_tag {
  position: absolute;
  right: 24px;
}

#service_info img {
  position: relative;
  top: 5px;
  left: 3px;
}

#rating_price_info {
  height: 100px;
  padding-top: 3%;
}

.rating {
  position: absolute;
  margin-top: 5px;
  left: 24px;
}
