<template name="dishes_list">
  <div class = "row">
    <div class="col s12 m12 l12">
      <div>
        {{>dishes_card}}
      </div>
      <div class = "row">
        {{#each dishes_item}}
          {{> dishes_rotation}}
        {{/each}}
      </div>
    </div>
  </div>
</template>

<template name = "dishes_card">
  {{#with dish_details}}
    {{> dishes_card_layout}}
  {{/with}}
</template>

<template name="dishes_card_layout">
  <div class="card horizontal" id = "dish_card_large">
    <div class="card-image circle responsive-img" id = "dish_card_image">
      <!-- Required to convert to dynamic component when user accounts component is ready -->
      <img src="/user_avatar.svg" alt="user_avatar" id="user_avatar" class = "circle responsive-img"/>
      {{> get_dish_image}}
    </div>

    <div class="card-stacked">
      <div class = "card-content">
        <h5>{{dish_name}}</h5>
        {{> info_tabs}}
        {{> location_time_info}}
      <!--  {{> service_info}} -->
        <div class =  "info_wrapper">
          {{> rating_price_info}}
        </div>
      </div>

      <div class = "card-action">
        <a class="waves-effect waves-light btn red lighten-2" style="width:100%;">Order</a>
      </div>
    </div>
  </div>
</template>

<template name = "dishes_rotation">
      <div class = "dish_thumbnail col s6 m3 l2" id="{{_id}}">
        <div class = "card dish_thumbnail_card z-depth-0">
          {{> get_dish_image}}
          <div class = "center-align">{{dish_name}}</div>
        </div>
    </div>
</template>

<template name="get_dish_image">
    {{#if image_id}}
      <img src="/dishes_upload/{{image_id}}{{get_image_extension}}" id="dish_image" alt="{{dishes_name}}" class="circle responsive-img"/>
    {{else}}
      <div class = "valign-wrapper no_display grey lighten-4">
        <p class = "center-align">no image to display</p>
      </div>
    {{/if}}
</template>

<template name="ingredients_loop">
  {{#each get_ingredients}}
    <row>
      <div class = "col s3 m3 l3">
        <p>{{ingredient_quantity}}{{ingredient_unit}}</p>
      </div>
      <div class = "col s9 m9 l9">
        <p>{{ingredient_name}}</p>
      </div>
    </row>
  {{/each}}
</template>

<template name="info_tabs">
  <div class = "tabs-wrapper">
    <ul class="tabs tabs-fixed-width" id="info_tab">
      <li class="tab"><a class="active" href="#description_{{_id}}">info</a></li>
      <li class="tab"><a href="#dietary_info_{{_id}}">diet</a></li>
      <li class="tab"><a href="#ingredients_{{_id}}">elements</a></li>
    </ul>
  </div>

  <div class="card-tabs">
    <div id="description_{{_id}}">
      <p>{{dish_description}}</p>
    </div>
    <div id="ingredients_{{_id}}">
      {{> ingredients_loop}}
    </div>
    <div id="dietary_info_{{_id}}">
      <div class = "valign-wrapper">
        {{#each allergy_tags}}
          <div class= "chip">{{this}}</div>
        {{/each}}
      </div>
    </div>
  </div>
</template>

<template name="location_time_info">
  <p>Chef location: <strong>3 km</strong> |  Ready in: <strong>{{cooking_time}} mins</strong></p>
</template>

<template name="service_info">
  <div class = "service_info_wrapper" id="service_info">
    {{#with serving_option}}
      <div id="{{this}}_option">
        <p>Available for: <strong>{{this}}</strong><img src="/dish_cards/services_icons/{{this}}.svg" alt="{{this}}" id="{{this}}_icon"></p>
      </div>
    {{/with}}
  </div>
</template>

<template name = "rating_price_info">
  <div class = "rating_price_wrapper" id="rating_price_info">
    <!-- rating and review numbers has to be adjust to dynamic in the furture-->
    <img class = "rating left" src="/dish_cards/rating/0_of_5_hearts.svg" alt="heart">
    <h5 class = "right">${{dish_selling_price}}</h5>
  </div>
</template>
