<template name="dishes_list">
  {{> dishes_thumbnails}}
</template>

<template name = "dishes_thumbnails">
  <div class = "card z-depth-0 dish_thumbnail_card card_on_display">
    <div class = "card-image">
      <a class='dish_thumbnail' href="#large_dish_display">
      <div id="thumbnail_img_wrapper">{{> get_dish_image}}</div>
      <a class="btn-floating halfway-fab homecook_image grey lighten-1" style="background-image: url({{get_homecook_image}})"></a>
      </a>
    </div>
    <div class = "card-content">
      <h6 class = "black-text">{{dish_name}}</h6>
      <h6>${{dish_selling_price}}</h6>
      {{> rating_display}}
    </div>
    <div class = "card-action">
      <div class = "center">
        <a class="waves-effect waves-light btn red lighten-2" id="place_order"  style="width:65%;">Order</a>
      </div>
    </div>
  </div>
</template>

<template name = "dishes_card">
  {{#with dish_details}}
      {{> dishes_card_layout}}
      {{> confirm_foodie}}
  {{/with}}
</template>

<template name="confirm_foodie">
  <div id="confirm_foodie" class="modal bottom-sheet">
    <div class="modal-content">
      <h6>Attention</h6>
      <p>Before order dishes or menu. Please create your profile.</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>
</template>

<template name="dishes_card_layout">
  <div class="card horizontal dish_card_large large_dish_display" id = "dish_card_large">
    <div class="card-image circle responsive-img" id = "dish_card_image">
      {{> chef_avatar}}
      <div id="dishes_card_layout_img_wrapper">{{> get_dish_image}}</div>
    </div>

    <div class="card-stacked">
      <div class = "card-content">
        <h5>{{dish_name}}</h5>
        {{> info_tabs}}
        {{> location_time_info}}
      <!--  {{> service_info}} -->
        <div class =  "info_wrapper">
          {{> rating_price_info}}
        </div>
      </div>

      <div class = "card-action" id="dish_card_action">
        <a id='place_order' class="waves-effect waves-light btn red lighten-2" style="width:100%;">Order</a>
      </div>
    </div>
  </div>
</template>

<template name="ingredients_loop">
  {{#each get_ingredients}}
    <p>{{ingredient_name}} .............................................. {{ingredient_quantity}}{{ingredient_unit}}</p>
  {{/each}}
</template>

<template name="info_tabs">
  <div class = "tabs-wrapper">
    <ul class="tabs tabs-fixed-width" id="info_tab">
      <li class="tab" id="default_tab"><a class="active" href="#description_{{_id}}">info</a></li>
      <li class="tab"><a href="#dietary_info_{{_id}}">diet</a></li>
      <li class="tab"><a href="#ingredients_{{_id}}">elements</a></li>
    </ul>
  </div>

  <div class="card-tabs">
    <div id="description_{{_id}}">
      <p>{{dish_description}}</p>
    </div>
    <div id="ingredients_{{_id}}">
      {{> ingredients_loop}}
    </div>
    <div class="dietary_info" id="dietary_info_{{_id}}">
      <div class = "row">
        {{#each allergy_tags}}
          <div class= "chip">{{this}}</div>
        {{/each}}
      </div>
    </div>
  </div>
</template>

<template name="location_time_info">
  <p>Chef location: <strong>3 km</strong> |  Ready in: <strong>{{cooking_time}} mins</strong></p>
</template>

<template name="service_info">
  <div class = "service_info_wrapper" id="service_info">
    {{#with serving_option}}
      <div id="{{this}}_option">
        <p>Available for: <strong>{{this}}</strong><img src="/dish_cards/services_icons/{{this}}.svg" alt="{{this}}" id="{{this}}_icon"></p>
      </div>
    {{/with}}
  </div>
</template>

<template name = "rating_price_info">
  <div class = "rating_price_wrapper" id="rating_price_info">
    <span>{{> rating_display}}
    <h5 class = "price_tag right">${{dish_selling_price}}</h5></span>
  </div>
</template>
