<template name = "menu_creation">
  {{> check_kitchen_profile}}
  <div class = "container" id = "card_container">

  </div>
</template>

<template name = "menu_creation_content">
  <div class = "col l12 m12 s12">
    <h5>Create set menu card</h5>
    <div class="input-field col l12 m12 s12">
      <input placeholder = "Menu Name" id="menu_name" type="text">
    </div>
    <div class="input-field col l12 m12 s12">
      <input placeholder = "Menu Description" id="menu_description" type="text">
    </div>
    <div class = "row">
      <div class = "col l5 m5 s12">
        Selling price:
        <div class="input-field inline">
          <input placeholder = "Selling Price" id="menu_selling_price" type="number">
        </div>
      </div>
      <div class="col l7 m7 s12">
        Suggested price:
        <div class="input-field inline">
          <input disabled placeholder = "Suggested Price" id="suggested_price">
        </div>
      </div>
    </div>
    <div class = "row">
      <p class="range-field col l4 m12 s12">
        Minimum order:<br>
        <input type="range" id="min_order_range" min="1" max="20" />
      </p>
      <p class="range-field col l4 m12 s12">
        Lead time (hours):
        <input type="range" id="lead_time_hours_range" min="0" max="23" />
      </p>
      <p class="range-field col l4 m12 s12">
        Lead time (days):
        <input type="range" id="lead_time_days_range" min="0" max="15" />
      </p>
    </div>
    <div class = "row">
      <div class = "col l12 m12 s12">
        <h6>Serving Option:</h6>
        {{> serving_option_display}}
      </div>
    </div>
  </div>
  <h6>Dishes to include in this menu:</h6>
    <div class = "section create_menu_dishes_selection">
      {{> dishes_selection}}
    </div>
    <!-- {{#if first_visit}} -->
    <div class = "modal-footer section" id="modal-footer">
      <span>
        <div class = "right">
          <a class="modal-action modal-close waves-effect waves-red btn-flat red-text text-lighten-2" id="cancel">Cancel</a>
          <button class="modal-action btn waves-effect waves-light bp-green" type="submit" name="action" id="create_menu">Create</button>
        </div>
      </span>
    </div>
    <!-- {{/if}} -->
</template>

<template name = "menu_initiation">
  <div class="valign-wrapper" id = "menu_creation_container">
    <div class ="center" style="width: 100%">
      <a class="btn-floating btn-large waves-effect waves-light bp-green center" id="add_menu"><i class="material-icons">add</i></a>
      <h6 class = "center-align">Click this '+' button to add your first menu</h6>
    </div>
  </div>
</template>

<template name = "view_menu">
  <div class = "section">
    <div class = "row">
      <h5>Available set menus</h5>
      <a class = "btn-floating waves-effect waves-red bp-green z-depth-0 left transparent modal-trigger tooltipped" href="#create_menu_modal" data-position="bottom" data-delay="50" data-tooltip="Create new menu" id="add_menu">
        <i class="material-icons black-text text-lighten-1">add</i>
      </a>
    </div>
  </div>
  <div class = "divider"></div>
  <div class = "section menu_card_container">
    {{#if subscription}}
      {{#each menu_retreival}}
        {{> menu_card}}
      {{/each}}
      {{>edit_content}}
    {{else}}
        {{> spinner}}
    {{/if}}
  </div>
  <div class = "section">
      {{> modal}}
  </div>
</template>

<template name = "modal">
  <div class="modal modal-fixed-footer" id="create_menu_modal">
    <div class="modal-content" id="modal_content">
      <!-- {{> menu_creation_content}} -->
    </div>
    <div class ="modal-footer">
      <a href="" class="modal-action modal-close waves-effect waves-green btn-flat" id="modal_menu_update_btn">Save</a>
      <a href="" class="modal-action modal-close waves-effect waves-green btn-flat" id="close_create_menu_modal" >Close</a>
    </div>
  </div>
</template>

<template name = "edit_content">
    <div class = "modal" id="edit_menu_modal">
      <div class = "modal-content" id="edit_menu_content">
        {{#with menu_retreival_edit}}
            <div class = "col l12 m12 s12">
              <h5>Edit set menu</h5>
              <div class="input-field col l12 m12 s12">
                <input placeholder = "Menu Name" id="edit_menu_name" type="text" value="{{menu_name}}">
              </div>
              <div class="input-field col l12 m12 s12">
                <input placeholder = "Menu Description" id="edit_menu_description" type="text" value="{{menu_description}}">
              </div>
              <div class = "row">
                <div class = "col l5 m5 s12">
                  HK$
                  <div class="input-field inline">
                    <input placeholder = "Selling Price" id="edit_menu_selling_price" type="number" value="{{menu_selling_price}}">
                  </div>
                </div>
                <div class="col l7 m7 s12">
                  <div class = "right">
                    Suggested price:
                    <div class="input-field inline">
                      <input disabled placeholder = "Suggested Price" id="edit_suggested_price">
                    </div>
                  </div>
                </div>
              </div>
              <div class = "row">
                <p class="range-field col l4 m12 s12">
                  Minimum order:<br>
                  <input type="range" id="edit_min_order_range" min="1" max="20" value="{{min_order}}"/>
                </p>
                <p class="range-field col l4 m12 s12">
                  Lead time (hours):
                  <input type="range" id="edit_lead_time_hours_range" min="0" max="23" value="{{lead_hours}}"/>
                </p>
                <p class="range-field col l4 m12 s12">
                  Lead time (days):
                  <input type="range" id="edit_lead_time_days_range" min="0" max="15" value="{{lead_days}}"/>
                </p>
              </div>
              <div class = "row">
                <div class = "col l12 m12 s12">
                  <h6>Serving Option:</h6>
                    {{get_serving_option}}
                    {{> edit_serving_option_menu}}
                </div>
              </div>
            </div>
            <h6>Dishes to include in this menu:</h6>
            {{#if dishes_subscription}}
              <table class = "bordered" id="menu_dishes_table">
                <thead>
                  <tr>
                    <th></th>
                    <th>Dish Name</th>
                    <th>Cost</th>
                    <th>Selling price</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  {{#each user_dishes}}
                    <tr>
                      <td>
                        <input class="edit_dishes_checkbox" type="checkbox" id="{{_id}}" value="{{_id}}" {{is_checked}}/>
                        <label for="{{_id}}"></label>
                      </td>
                      <td>{{dish_name}}</td>
                      <td>{{dish_cost}}</td>
                      <td>{{dish_selling_price}}</td>
                      <td style="width: 15%;">{{> get_dish_image}}</td>
                    </tr>
                  {{/each}}
                </tbody>
              </table>
            {{else}}
              {{> spinner}}
            {{/if}}
          {{/with}}
          <div class = "modal-footer">
            <a class="modal-action modal-close waves-effect waves-red btn-flat red-text text-lighten-2" id="edit_cancel">Cancel</a>
            <a class="modal-action modal-close btn waves-effect waves-light bp-green" type="submit" name="action" id="update_menu">Update</a>
          </div>
        </div>
    </div>
</template>
