<template name="screen">
  <header>
    {{> navbar}}
  </header>
  <main>
    <div class = "render_component">
      {{> Template.dynamic template = render_component}}
    </div>
  </main>
  {{>footer}}
</template>

<template name="msgDialog_navbar">
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper grey lighten-5">
        <div class="logo-blueplate">
        <a href="#" class="brand-logo"><img src="/msgDialog/Logo_BK_Skatch82x28.svg"/></a>
        </div>
        <!--The User picture that float half way on the navbar-->
        <ul class="right hide-on-med-and-down">
          <li>
          <div class="btn-floating grey lighten-1 btn-large halfway-fab N/A">
          <div class="user-pic">
            <img src="/msgDialog/user.jpg"/>
          </div>
        </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</template>

<template name = "msgDialog_content">
  <div class = "content">
    <div class="conversation-screen">
      <div class="left24px top16px" id="messages_wrap">
        {{#each messages}}
          {{> message}}
        {{/each}}
      </div>
    </div>
      {{>chips}}
  </div>
    {{> add}}
</template>

<template name = "card_screen">
  <div class="card-screen" id = "card_screen">

  </div>
</template>

<template name="msgDialog_footer">
  <div class="footer">
    <div class="footer-left">
      <div class ="left24px">
        {{> add}}
      </div>
    </div>
    <div class = "footer-right">
      <div class="float-left">
        <div class="social_media">
          <a href="http://www.youtube.com" target="_blank"><img src="/msgDialog/youtube_16px_h_BK.svg" class="social_media"/></a>
          <a href="http://www.pinterest.com" target="_blank"><img src="/msgDialog/pinterest_16px_h_BK.svg" class="social_media"/></a>
          <a href="http://www.linkedin.com" target="_blank"><img src="/msgDialog/linkedin_16px_h_BK.svg" class="social_media"/></a>
          <a href="http://www.instagram.com" target="_blank"><img src="/msgDialog/instagram_16px_h_BK.svg" class="social_media"/></a>
          <a href="http://www.facebook.com" target="_blank"><img src="/msgDialog/faceBook_16px_h_BK.svg" class="social_media"/></a>
        </div>
      </div>
    <div class="float-right">
      <div class ="right24px">|  2017 &#169; Copyright to Blueplate.co  |  Terms & Privacy  |  Help  |</div>
      </div>
    </div>
  </div>
</template>

<template name="message">
  {{#if Template.subscriptionsReady}}
    {{#if message_owner}}
      <div class = "right-align">
        <div class="message_wrapper grey lighten-5 black-text">
          <strong>
            {{#if currentUser.profile.first_name}}
              {{currentUser.profile.first_name}} {{currentUser.profile.last_name}}
            {{else}}
              {{currentUser.profile.name}}
            {{/if}}
          </strong>
          <br>{{text}}<br><div class="time_wrapper right">{{current_time}}</div></div>
        <br>
      </div>
    {{else}}
      <div class = "left-align">
        <div class="message_wrapper bp-green white-text"><strong>{{owner}}</strong><br>{{text}}<br><div class="time_wrapper right">{{current_time}}</div></div>
        <br>
      </div>
    {{/if}}
  {{else}}
      <div class = "black-text">loading...</div>
  {{/if}}
</template>

<template name="chips">
  <div class = "chips_wrapper">
    <div class="toolbar-fixed">
      <ul class = "center">
        {{#with chips_content}}
          {{#each chips}}
            <option class="chips_action waves-effect waves-light white-text" name="chips_action" value = "{{this}}"><a class = "chips_action white-text center-aligned">{{this}}</a></option>
          {{/each}}
        {{/with}}
      </ul>
    </div>
  </div>
</template>

<template name="add">
  <form class="send-message" autocomplete="off">
    <div class = "center">
      <input id="new_message_text" type="text" name="new_message" placeholder="Send a message" >
    </div>
  </form>
</template>
