

/* Blueplate Logo */
.logo-blueplate img {
    width: 82px;
    height: 28px;
    margin-top: 20px;
    margin-left: 24px;
}

/* User-pic to chop as circle*/
.user-pic img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}


.content{
/*  position: absolute; - this setting is causing contents to jump when template render has checkboxes*/
  padding-top: : 68px;
  width:100%;

}

.conversation-screen {
  /*  float:left;*/
    width: 100%;
    height: 87vh;
    margin:0;
    background-color: #ffffff;
    overflow:scroll;
    position: relative;
}

.send-message {
  width: 100%;
  position:absolute;
  bottom: 7%;
}

.chips_wrapper {
  /*float:left;*/
  width: 100%;
  /* min-height: 4.0%;*/
  height: auto;
  margin:0;
  bottom: 12.0vh;
  /* background-color: #e57373;*/
  overflow: auto;
  position: absolute;
  padding-bottom: 7px;
  /* z-index: 0;*/
}

.chips_action{
  margin: 5px;
  padding: 5px;
  background-color: #af4448;
  border-radius: 5px;
}

.card-screen {
  float: none;
  width: auto;
  height: 86vh;
  left: 0;
  background-color: #ffffff;
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: #d0d0d0;
  overflow:scroll;
  padding-top: 48px;
}
.render_component {
  /* overflow-y: scroll; */
  overflow-x: hidden;
  min-height: 100vh;
  width: 100vw;
}
/*
::-webkit-scrollbar {
    width: 10px;
}

/* Handle */
/*
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: rgba(160,160,160,0.4)
}

*/
.message_wrapper {
  border-radius: 14px;
  background: #c7c7c7;
  padding: 5px 14px 5px 14px;
  height: auto;
  max-width: 80%;
  display: inline-block;
  margin-bottom: 14px;
}

.time_wrapper {
  display: inline;
  font-size: 10px;
  margin-left: 5px;
}

#new_message_text {

  margin-bottom: 5px;
  width: 80%;

}

.footer{
  position:absolute;

    bottom: 0;
    width: 100%;
  margin:0;
  padding:0;
  height:56px;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #d0d0d0;

}

.top16px{
  margin-top:16px;
}

.left24px{
  margin-left: 24px;
}

.right24px{
  margin-right: 24px;
}

.footer-right {
  float:right;
  width: 66.67%;
  font-size: 10px;
  padding:0;
  left: 0;
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: #d0d0d0;
  height:56px;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #d0d0d0;

}

.float-right{
  float:right;
  margin-top: 16px;
  margin-right: 24px;
}
.float-left{
  float: left;
  margin-top: 16px;
  margin-left: 24px;
}
.social_media img{
  height: 15px;
  margin-right: 15px;
  ;
}
