#location_search_card {
  height: 600px;
  width: 100%;
}

#location_search_input_card {
  top: 14px;
  height: 60px;
  z-index: 2;
}

#location_search_input {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left:14px;
  width: 85%;
  z-index: 1;
}
#location_search_card i {
  display:block;
  top: 8px;
}
.map-container {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  top: 0px;
  left: 0px;
}

.address_search {
  position: absolute;
  z-index: 2;
  top: 0px;
  left: 0px;
}
