#small_dish_card {
  height: 295px;
  width: 200px;
}

#small_dish_card_image {
  height: 180px;
  margin-left:10px;
  margin-right:10px;
}

#small_dish_image {
  display:block;
  z-index: 1;
  max-height: 180px;
  width: auto;
  top: -40px;
}

#small_user_avatar {
  position: relative;
  z-index: 2;
  max-height: 40px;
  left: -60px;
  top: 130px;
}

.info_wrapper {
  padding-left: 4px;
  padding-right: 4px;
}
