<template name = "dishes_summary">
  <div class = "container">
    <div class = "section">
      <div class = "row">
        <h5>Available Dishes</h5>
        <a class = "btn-floating waves-effect waves-red grey lighten-3 z-depth-0 left transparent modal-trigger tooltipped" data-position="bottom" data-delay="50" data-tooltip="Create new dish" href="#add_dish_modal" id="btn_add_dish">
          <i class="material-icons red-text text-lighten-1">add</i>
        </a>
        <a class = "btn-floating waves-effect waves-red grey lighten-3 z-depth-0 left transparent modal-trigger tooltipped" data-position="bottom" data-delay="50" data-tooltip="Edit dish details" href="#edit_dish_modal" id="btn_edit_dish">
          <i class="material-icons red-text text-lighten-1">edit</i>
        </a>
        <a class = "btn-floating waves-effect waves-red grey lighten-3 z-depth-0 left transparent tooltipped" data-position="bottom" data-delay="50" data-tooltip="Delete dish(es)" href="#" id="btn_delete_dish">
          <i class="material-icons red-text text-lighten-1">delete</i>
        </a>
        <a class = "btn-floating waves-effect waves-red grey lighten-3 z-depth-0 right transparent" href="#" id="search_dish">
          <i class="material-icons red-text text-lighten-1">search</i>
        </a>
      </div>
    </div>
    <div class = "divider"></div>
    <div class = "section">
      {{> dishes_selection}}
    </div>
  </div>
  <div class ="modal" id="add_dish_modal">
    <div class = "modal-content">
      <!-- called create_dishes_form template using Blaze.render in js -->
    </div>
  </div>
  <div class ="modal" id="edit_dish_modal">
    <div class = "modal-content">
      <!-- called create_dishes_form template using Blaze.render in js -->
    </div>
  </div>
</template>
