<template name = "dishes_summary">
  {{> check_kitchen_profile}}
  <div class = "container">
    <div class = "section">
      <div class = "row">
        <h5>Available Dishes</h5>
        <a class = "btn-floating waves-effect waves-red red lighten-2 z-depth-0 left transparent modal-trigger tooltipped" data-position="bottom" data-delay="50" data-tooltip="Create new dish" href="#add_dish_modal" id="btn_add_dish">
          <i class="material-icons black-text text-lighten-1">add</i>
        </a>
        <a class = "btn-floating waves-effect waves-red red lighten-2 z-depth-0 left transparent modal-trigger tooltipped btn_edit_dish" data-position="bottom" data-delay="50" data-tooltip="Edit dish details" href="#edit_dish_modal" id="btn_edit_dish">
          <i class="material-icons black-text text-lighten-1">edit</i>
        </a>
        <a class = "btn-floating waves-effect waves-red red lighten-2 z-depth-0 left transparent tooltipped" data-position="bottom" data-delay="50" data-tooltip="Delete dish(es)" href="#" id="btn_delete_dish">
          <i class="material-icons black-text text-lighten-1">delete</i>
        </a>
  <!-- <a class = "btn-floating grey lighten-1 waves-effect waves-red grey lighten-3 z-depth-0 right transparent" href="#" id="search_dish">
          <i class="material-icons red-text text-lighten-1">search</i>
        </a> -->
      </div>
    </div>
    <div class = "divider"></div>
    <div class = "section">
      {{> dishes_selection}}
    </div>
  </div>
  <div class ="modal modal-fixed-footer" id="add_dish_modal">
    <div class = "modal-content" id="add_dish_modal_content">
      <!-- called create_dishes_form template using Blaze.render in js -->
    </div>
    <div class="modal-footer">
      <a href="" class="modal-action waves-effect waves-green btn-flat" id="modal_add_btn">Save</a>
      <a href="" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
  </div>
  <div class ="modal modal-fixed-footer edit_dish_modal" id="edit_dish_modal">
    <div class = "modal-content" id="edit_dish_modal_content">
      <!-- called create_dishes_form template using Blaze.render in js -->
    </div>
    <div class="modal-footer">
      <a href="" class="modal-action modal-close waves-effect waves-green btn-flat" id="modal_update_btn">Save</a>
      <a href="" class="modal-action modal-close waves-effect waves-green btn-flat" id="close_create_dish_modal" >Close</a>
    </div>
  </div>
</template>
