<template name = "dishes_collection">
  <div class="container">
  <table class = "bordered" id="menu_dishes_table">
      <thead>
        <tr>
            <th class = "col l2 s2 m2 checkbox_column"></th>
            <th class = "col l3 s2 m2">ID</th>
            <th class = "col l3 s2 m2">Dishes</th>
            <th class = "col l3 s2 m2">Serving by</th>
            <th class = "col l3 s2 m2">Timing</th>
          </tr>
      </thead>

      <tbody>
        {{#each dishes}}

        <tr>
            <td>
                <input class="with-gap radio_button" name="group1" type="radio" id="{{_id}}"  />
                <label for="{{_id}}"></label>
            </td>
            <td>{{_id}} </td>
            <td>{{dish_name}}</td>
            <td>{{serving_option}}</td>
            <td>cooking_time</td>
        </tr>
      {{/each}}
      </tbody>
    </table>
    </div>
        {{> Ingredients_table}}
</template>


<template name="Ingredients_table">
    <div class="container">
  {{#each ingredient}}

    <li> Your dishes ingredient {{ingredient_name}}</li>

  {{/each}}

    </div>
</template>
