.reset_password_background {
  height: 100vh;
  background-color: #c7c7c7;
  background-repeat: repeat;
  overflow-y: hidden !important;
}

#reset_password_logo {
  background-color: #e57373;
  max-height: 158px;
}

#reset_button {
  margin-bottom: 24px;
}
