<template name = 'reset_password'>
  <div class = 'reset_password_background valign-wrapper row'>
    <div class = 'valign col l4 m6 s12 offset-l4 offset-m3'>
      <form class = 'card' style = 'width: 100%;'>
        <div class = 'card-image'>
          <img id='reset_password_logo' src='/navbar/sidenav_bp_logo.svg'/>
        </div>
        <div class = 'card-content'>
          <div class = 'reset_input_content'>
            <div class = 'col s12'>
              Please type and confirm your new password here:<br>
              <span class = 'warning_mesage red-text'></span>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="password" type="password" class="validate">
                <label for="password">Password</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="confirm_password" type="password" class="validate">
                <label for="confirm_password">Confirm Password</label>
              </div>
            </div>
            <button id='reset_button' class="btn waves-effect waves-light bp-green black-text right" type='submit'>Reset</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>
