.path_container {
  margin-top: 100px;
}

.path_card {
  width: 100%;
}

.path_icons {
  width: 100%;
  max-width: 150px;
}

@media (min-width: 992px) {
  .path_container {
    margin-top: 100px;
    height: 100vh !important;
    justify-content: center;
  }
}
