<template name='path_choosing'>
  <div class='contatiner'>
    {{#if check_homecook_profile}}
    <div class='col l4 m2 s2'>
      <h2 id='create_homecook_profile'>be a homecook</h2>
    </div>
    <div class='col l4 m2 s2'>
      <h2 id='preview_foodie_profile'>preview foodie profile</h2>
    </div>
    {{else}}
    <div class='col l4 m2 s2'>
      <h2 id='create_first_dish'>create your first dish</h2>
    </div>
    <div class='col l4 m2 s2'>
      <h2 id='preview_kitchen_profile'>preview kitchen profile</h2>
    </div>
    {{/if}}
    <div class='col l4 m2 s2'>
      <h2 id='divert_showroom'>browser around</h2>
    </div>
  </div>
</template>
