<template name="foodie_profile_card">
  {{#with user_id}}
    <div class = "foodie_profile_card">
      <div class = "profile_banner_area valign-wrapper" style="background-image: url(/profile_upload/{{profile_images 'banner_picture' 'other_user'}})">
        <div class = "container col l12 m6 s6 valign">
          <div class = "center-align">
            <div class="homecook_profile_avatar" style="background-image: url(/profile_upload/{{profile_images 'profile_picture' 'other_user'}}"></div>
            <br>
            <div class = "profile_description_wrapper">
              <div class="col l12 m4 s4 valign">
                <h6 class = "white-text center-align">{{foodie_name}}</h6>
              </div>
              <div class="col l12 m4 s4 valign">
                <p class = "white-text center-align">{{profile_keywords}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <br>
      <div class = "container">
        <p class ="grey-text text-darken-2">{{about_myself}}</p>
        <br>
        {{> profile_created_dishes}}
        {{>profile_created_menus}}
        {{>profile_recently_exploered}}
      </div>
    </div>
  {{/with}}
</template>


<template name="homecook_profile_page">
{{#with homecook_id}}
  <div class = "homecook_profile_page">
    <div class = "profile_banner_area valign-wrapper" style="background-image: url(/profile_upload/{{profile_images 'homecook_banner_picture' 'other_user'}})">
      <div class = "homecook_profile_wrapper container col l12 m6 s6 valign">
        <div class= "center-align">
          <div class="homecook_profile_avatar" style="background-image: url(/profile_upload/{{profile_images 'homecook_profile_picture' 'other_user'}})"></div>
          <br>
          <div class = "profile_description_wrapper">
            <div class="col l12 m4 s4">
              <h5 class = "white-text">{{kitchen_name}}</h5>
            </div>
          <div class = "divider"></div>
            <div class="col l12 m4 s4">
              <p class = "white-text center-align">{{homecook_profile_keywords}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class = "container">
      <div class = "section">
        <p class ="grey-text text-darken-2">{{about_homecook_myself}}</p>
      </div>
      {{> profile_created_dishes}}
      {{> profile_created_menus}}
    <!--  {{> profile_recently_exploered}} -->
    </div>
    <div class = "modal large_dish_display" id="large_dish_display">
    </div>
    <div class = "modal display_menu_details" id="menu_card_display">
    </div>
  </div>
{{/with}}
</template>

<template name="profile_created_dishes">
  <div class = "section">
    <h5>Created dishes</h5>
    <div class = "row">
      {{#each created_dishes}}
        {{>dishes_list}}
      {{/each}}
    </div>
  </div>
</template>


<template name="profile_created_menus">
  <div class = "section">
    <h5>Created menus</h5>
    <div class = "menu_card_wrapper">
      {{#each created_menus}}
        {{> menu_card}}
      {{/each}}
    </div>
  </div>
</template>

<template name="profile_recently_exploered">
<h5>Explored goodies</h5>

</template>
