<template name = "cooking_dashboard">
  <div class='row center'>
    <div class='col l6 m3 s6'>
      {{> dashbaord_sales}}
    </div>
    <div class='col l6 m3 s6'>
      {{> dashbaord_balance}}
    </div>

  </div>

  <div class='row center'>
    <div class='col l6 m3 s6'>
      {{> dashbaord_product}}
    </div>
    <div class='col l6 m3 s6'>
      {{> dashbaord_kitchen}}
    </div>
  </div>
</template>


<template name='dashbaord_sales'>
  <div class='card' style='width:45vw; height:40vh;'>
    <div class='row col l12'>
      Revenue
    </div>
    <div class='row col l12'>
      <div class='col l3'>
        Daily
      </div>
      <div class='col l3'>
        Weekly
      </div>
      <div class='col l3'>
        Monthly
      </div>
      <div class='col l3'>
        YTD
      </div>
    </div>

      <canvas id='sales_chart' style='height:30vh; width:45vw;'></canvas>

  </div>
</template>

<template name='dashbaord_balance'>
  <div class='card' style='width:45vw; height:40vh;'>
    <div class='row col l12'>
      Balance
    </div>
    <div class='row col l12'>
      <div class='col l3'>
        Total Revenue
      </div>
      <div class='col l3'>
        Paid Out
      </div>
      <div class='col l3'>
        On Blueplate
      </div>
      <div class='col l3'>
        Not yet credited
      </div>
    </div>
    <!-- With Transaction-->
    <div class='row'>

    </div>
  </div>
</template>

<template name='dashbaord_product'>
  <div class='card' style='width:45vw; height:40vh;'>
    <div class='row col l12'>
      Product Analysts
    </div>
    <div class='row col l12'>
      <div class='col l3'>
        Most sellable
      </div>
      <div class='col l3'>
        Most unsellable
      </div>
      <div class='col l3'>
        Most profitable
      </div>
      <div class='col l3'>
        Most unprofitable
      </div>
    </div>
    <div class='chart'>
      <canvas id='sales_chart' height="400" width="600"></canvas>
    </div>
  </div>
</template>

<template name='dashbaord_kitchen'>
  <div class='card' style='width:45vw; height:40vh;'>
    <div class='row col l12'>
      Kitchen Analysts
    </div>
    <div class='row col l12'>
      <div class='col l3'>
        Daily
      </div>
      <div class='col l3'>
        Weekly
      </div>
      <div class='col l3'>
        Monthly
      </div>
      <div class='col l3'>
        YTD
      </div>
    </div>
    <div class='row col l12'>
      <div class='row col l6'>
        Visit
      </div>
      <div class='row col l6'>
        Order
      </div>
    </div>
    <div class='row col l12'>
      <div class='row col l6'>
        Visit
      </div>
      <div class='row col l6'>
        Order
      </div>
    </div>
  </div>
</template>
