


<!-- login content-->
<template name="login_content">
  <form class="login_form col l12 m12 s12">
    <!-- Row No.1 - API Signin button -->

    <div class="top24px center">
    <a class = "login-facebook" ><img src ="/Signup/Facebook_button.svg"></a>
    <a class = "login-google"><img src ="/Signup/G_button.svg"></a>
    </div>
      <br>
  <!-- Row No.2 - Email Address -->


  <div class="row">
    <div class="input-field col l6 m9 s12 offset-l3 -m6 -s3 valign">
    <input id="email" name="email" type="email" class="validate">
    <label for="email">Email</label>
    </div>
  </div>
<!-- Row No.3 - Password -->
  <div class="row">
    <div class="input-field col l6 m9 s12 offset-l3 -m6 -s3 valign">
    <input id="password" name="password" type="password" class="validate">
    <label for="password">Password</label>
    </div>
  </div>
<!-- Row No.4 - Buttons -->
      <div class="row">
        <div class="col l9 m6 s6 valign">
      {{>login}}
        </div>
      </div>


</form>
</template>

<!-- Buttons-->
<template name="login">
  <button class="waves-effect waves-teal btn-flat right login" type="submit" name="login">Log in</button>
  <a class="waves-effect waves-teal btn-flat right signup" href="/signup">Signup</a>
</template>
