<!-- SignUp Navbar -->
<template name="signup_navbar">
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper grey lighten-3">
        <div class="left24px">
        <a href="/" class="brand-logo black-text"><i class="material-icons black-text">arrow_back</i>Sign Up</a>
        </div>
      </div>
    </nav>
  </div>
</template>


<!-- login navbar-->
<template name="login_navbar">
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper grey lighten-3">
        <div class="left24px">
        <a href="/" class="brand-logo black-text"><i class="material-icons black-text">arrow_back</i>Member Login</a>
        </div>
      </div>
    </nav>
  </div>
</template>
