<template name="sent_verification">
  <div class="row valign-wrapper" style="height:100vh;">
    <div class ="col s12 m12 l6 offset-l3">
      <div class = "center">
        {{#if currentUser}}
          <div style="font-size: 2em; font-weight: bold; margin-bottom: 36px">Account verified. Redirecting you in...</div>
          <div class="center-align timer">{{getCountdown}}</div>
        {{else}}
          <div style="font-size: 2em; font-weight: bold; margin-bottom: 36px">You haven't signedup yet. Redirect you back to our homepage in...</div>
          <div class="center-align timer">{{getCountdown}}</div>
        {{/if}}
      </div>
    </div>
  </div>
</template>
