<template name="sent_verification_navbar">
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper grey lighten-3">
        <div class="left24px">
        <a href="/" class="brand-logo black-text"><i class="material-icons black-text">arrow_back</i>Verification Sent</a>
        </div>
      </div>
    </nav>
  </div>
</template>

<template name="sent_verification_content">

<div class="container">
  <h4>Please Check your register email for email address verification.</h4>

</div>

</template>
