<!--SignUp Content-->
<template name="signup_content">
  <div class="signup_form col l12 m12 s12">
  <!-- Row No.1 - API Signin button -->
    <div class = "row">
      <div class="top24px center">
        <a class = "login-facebook" ><img src ="/Signup/Facebook_button.svg"></a>
        <a class = "login-google"><img src ="/Signup/G_button.svg"></a>
      </div>
    </div>
  <!-- Row No.2 - Email Address -->
    <div class="row">
      <div class="input-field">
      <input id="signup_email" name="email" type="email" class="validate">
      <label for="signup_email">Email</label>
      </div>
    </div>
  <!-- Row No.3 - Password -->
    <div class="row">
      <div class="input-field">
      <input id="signup_password" name="password" type="password" class="validate">
      <label for="signup_password">Create a Password</label>
      </div>
    </div>
  <!-- Row No.4 - Password -->
    <div class="row">
      <div class="input-field">
      <input id="signup_cpassword" name="cpassword" type="password" class="validate">
      <label for="signup_cpassword">Confirm your Password</label>
      </div>
    </div>
    <div class = "row">
      <!-- <p>Already a member? <a id="login_redirect">Log in </a> here.</p> -->
      <p><small>By joining us through your Facebook or Google account, or submitting your email and password, you have agreed our website <a>terms of use</a>.</small></p>
    </div>
  </div>
</template>
